<section class="banner-container">
	<div class="wrapper-container full-height clearfix">
		<div class="heading-contianer">
			<img src="../assets/img/desktop-heading_03.png">
			<a href="#" class="hot-button"><img src="../assets/img/join-button_03.png"></a>
		</div>		
		<ul class="brands-list">
			<li><img src="../assets/img/brqand-modess_07.png"></li>
			<li><img src="../assets/img/brand-clean&clear_06.png"></li>
			<li><img src="../assets/img/brand-carefree_07.png"></li>
		</ul>
		<a href="#slider-container" class="anchor-arrow"><img src="../assets/img/anchor-arrow_03.png"/></a>
	</div>
</section>

<div class="reveal-overlay" id="ended-promo">
	<div class="reveal filter-reveal-container small">	  	
	  	<div class="row">	  		
	  		<div class="small-12 clearfix">
	  			<p class="text-center">Promo has been ended</p>
	  		</div>
	  	</div>
	  <button class="close-button" data-close type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
</div>