<footer>
	<div class="footer-wrapper clearfix">
		<ul class="brands-list column medium-6">
			<li><img src="../assets/img/brqand-modess_07.png"></li>
			<li><img src="../assets/img/brand-clean&clear_06.png"></li>
			<li><img src="../assets/img/brand-carefree_07.png"></li>
		</ul>
		<ul class="link-list  column medium-6">
			<li><a href="#">Home</a></li>
			<li><a href="#">Participating Products</a></li>
			<li><a href="#">Prizes</a></li>
			<li><a href="#">Contest Mechanics</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
</footer>