<nav>
	<div class="wrapper-container clearfix">
		<img src="../assets/img/courage-logo_03.png" class="logo">
		<button class="drawer-toggle-button"><i class="fa fa-bars" aria-hidden="true"></i></button>
	</div>	
</nav>

<div class="navigation-wrapper">
	<div class="navigation-drawer">
		<button class="drawer-toggle-button"><i class="fa fa-times" aria-hidden="true"></i></button>
		<div class="logo-container">
			<img src="../assets/img/landing-headline_03.png">
		</div>

		<ul class="nav-links">
			<li>
				<a href="#"> <img src="../assets/img/icon-house_01.png"> Home</a>
			</li>
			<li>
				<a href="#"> <img src="../assets/img/mechanics-icon_03.png"> Read Mechanics</a>
			</li>
			<li>
				<a href="#"> <img src="../assets/img/icon-viewfilters_01.png"> View Filters</a>
			</li>
			<li>
				<a href="#"> <img src="../assets/img/icon-gallery_01.png"> View Gallery</a>
			</li>
			<li>
				<a href="#"> <img src="../assets/img/icon-products_01.png"> Participating Products</a>
			</li>
			<li>
				<a href="#"> <img src="../assets/img/icon-prizes_01.png"> Prizes</a>
			</li>
			<li>
				<a href="#"> <img src="../assets/img/icon-join_01.png"> Join Now!</a>
			</li>

			<img src="../assets/img/navigation-logo-brands_03.png" class="brand-list">
		</ul>
	</div>
</div>
