

<section class="photo-editor" id="photo-editor">
	<div class="steps">STEP 2: UPLOAD ENTRY</div>
    <div class="editor">
    	<div class="menu">
    		<div class="line-bar"></div>
	    	<div class="wrapper-container">
		    	<ul>
		    		<li class="active take-photo" data-menu="take-photo">TAKE PHOTO</li>
		    		<li class="select-frames" data-menu="select-frames">SELECT FILTER</li>
		    		<li class="edit-photo" data-menu="edit-photo">EDIT PHOTO</li>
		    		<li class="submit" data-menu="submit">SUBMIT</li>
		    	</ul>
		    </div>
		</div>
		
		<div class="row editor-content">
			<div class="modal-overlay" id="modal-overlay">
				<div class="mesages"><i class="fa fa-refresh fa-spin fa-2x fa-fw loader-icon"></i></div>	
			</div>

			<div class="column large-6">
		    	<div class="canvas" id="canvas">
		            <div class="inside-area">
		                <div>Drag your photo here or click to add.</div>
		            </div>
		            <div id="preloader" class="inside-area preloader">
		                <i class="fa fa-spin fa-refresh fa-2x fa-fw"></i>
		            </div>
		    	</div>
		    	<div id="result-photo"></div>
		    </div>
			<div class="column large-6">
				<input type="hidden" id="config-url" value="https://api.myjson.com/bins/15fpbt">
				<input type="hidden" id="config-token" value="82b5422611e68deddc5de1c7275076b6">
		    	<div class="tools" id="tools">
					<ul class="pagination" id="pagination">
						<li class="disabled pagination-btn" data-paginate="back" id="paginate-back"><i class="fa fa-caret-left"></i> BACK</li>
						<li class="disabled pagination-btn" data-paginate="next" id="paginate-next">NEXT <i class="fa fa-caret-right"></i></li>
					</ul>

		            <div class="tool tool-take-photo">
		                <div class="option">
		                	<span class="icon icon-webcam"></span> USE WEBCAM
		                </div>
		                <div class="option">
		                	<input type="file" class="fileInput" name="filesToUpload[]" id="filesToUpload" accept="image/jpeg, image/png" />
		                	<span class="icon icon-photos"></span> FROM PHOTO GALLERY

		                	<div class="file-browse">
		                	    <div class="label">
		                	    	<span>BROWSE</span>
		                	    </div>
		                	    <input type="text" class="input" id="fileInputText" disabled>
		                	</div>
		                </div>
		            </div>
					
					<div class="tool tool-select-frames">
						<div class="frame-slider">
			                <ul id="frames"></ul>
			                <div id="frames-slider-next-arrow" class="arrow next-arrow"></div>
			                <div id="frames-slider-prev-arrow" class="arrow prev-arrow"></div>
			            </div>
		            </div>

		            <div class="tool tool-edit-photo">
		                <ul>
		                    <li>
		                        <div class="tool-btn" data-tool="resize">
		                            <div class="name">Resize</div>
		                            <span class="fa-stack fa-2x">
		                                <i class="fa fa-circle fa-stack-2x"></i>
		                                <i class="fa fa-expand fa-stack-1x icon"></i>
		                            </span>
		                        </div>
		                    </li>
		                    <li>
		                        <div class="tool-btn" data-tool="rotate">
		                            <div class="name">Rotate</div>
		                            <span class="fa-stack fa-2x">
		                                <i class="fa fa-circle fa-stack-2x"></i>
		                                <i class="fa fa-repeat fa-stack-1x icon"></i>
		                            </span>
		                        </div>
		                    </li>
		                </ul>

		                <div class="sub-tools">
		                    <div class="sub-tool sub-tool-resize">
		                        <div class="sub-tool-name">Resize</div>

		                        <ul>
		                            <li id="zoom-out-image" class="btn">
		                                <div>
		                                    <i class="fa fa-minus"></i> Zoom Out
		                                </div>
		                            </li>
		                            <li>
		                            	<div id="resize-slider" class="slider" data-slider data-initial-start="0" data-end="12" data-step="2">
		                            	    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
		                            	    <span class="slider-fill" data-slider-fill></span>
		                            	</div>
		                            </li>
		                            <li id="zoom-in-image" class="btn">
		                                <div>
		                                    <i class="fa fa-plus"></i> Zoom In
		                                </div>
		                            </li>
		                        </ul>
		                    </div>
		                    <div class="sub-tool sub-tool-rotate">
		                    	<div class="sub-tool-name">Rotate</div>
		                        <ul>
		                            <li data-rotate="counter clockwise" class="btn rotate-btn">
		                                <div>
		                                    <i class="fa fa-repeat" aria-hidden="true"></i> Counter Clockwise
		                                </div>
		                            </li>
		                            <li>
		                            	<div id="rotate-slider" class="slider" data-slider data-initial-start="0" data-end="270" data-step="90">
				                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
				                            <span class="slider-fill" data-slider-fill></span>
				                        </div>
		                            </li>
		                            <li data-rotate="clockwise" class="btn rotate-btn">
		                                <div>
		                                    <i class="fa fa-repeat" aria-hidden="true"></i> Clockwise
		                                </div>
		                            </li>
		                        </ul>
		                    </div>
		                    <div class="sub-tool sub-tool-rotate">
		                    	<div class="sub-tool-name">Reset</div>
		                        <button type="submit" class="button reset-image-btn">Reset</button>
		                    </div>
		                </div> <!-- /.sub-tools -->
		            </div> <!-- /.edit-photo --> 

		            <div class="tool tool-submit">
						<div class="option">
			                <h3>Ready to Submit? </br>
			                your finished entry?</h3>

			                <button type="submit" id="submit-photo" class="button">SUBMIT PHOTO</button>
			                <button type="submit" class="pagination-btn button" data-paginate="back">BACK</button>
			            </div>
		            </div>
		    	</div>  <!-- /.tools -->
		    </div>
	    </div> <!-- / .row --> 
    </div>
</section>


<script id="frames-json" type="text/x-json">
[{
	"id": "1",
	"name": "frame 1",
	"img": "/assets/img/frames/frame1.png"
}, {
	"id": "2",
	"name": "frame 2",
	"img": "/assets/img/frames/frame2.png"
}, {
	"id": "3",
	"name": "frame 3",
	"img": "/assets/img/frames/frame1.png"
}, {
	"id": "4",
	"name": "frame 4",
	"img": "/assets/img/frames/frame2.png"
}, {
	"id": "5",
	"name": "frame 5",
	"img": "/assets/img/frames/frame1.png"
}, {
	"id": "6",
	"name": "frame 6",
	"img": "/assets/img/frames/frame2.png"
}, {
	"id": "7",
	"name": "frame 7",
	"img": "/assets/img/frames/frame1.png"
}]
</script>
