<section class="slider-container" id="slider-container">
	<div class="wrapper-container">
		<div class="slider-wrapper clearfix">
			<div class="slider-image-panel column medium-6">
				<div class="homepage-slider">
					<!-- <div class="slider-item">
						<img src="../assets/img/slider-1_02.png">
						<div class="slider-instruction">
							<h3>Step 1</h3>
							<p>Purchase any of the participating products</p>
						</div>
					</div>
					<div class="slider-item">
						<img src="../assets/img/slider-2_02.png">
						<div class="slider-instruction version-2">
							<h3>Step 2</h3>
							<p>Take a selfie using a #CourageUnlocked filter</p>
						</div>
					</div>
					<div class="slider-item">
						<img src="../assets/img/slider-3_02.png">
						<div class="slider-instruction">
							<h3>Step 3</h3>
							<p>Upload and share #CourageUnlocked selfie </p>
						</div>
					</div> -->				
					<div class="slider-item">
						<img src="../assets/img/step-1-slider_03.png">
					</div>
					<div class="slider-item">
						<img src="../assets/img/step-2-slider_03.png">
					</div>
					<div class="slider-item">
						<img src="../assets/img/step-3-slider_03.png">
					</div>
				</div>	
				<button type="button" class="prev-arrow" aria-label="next"><img src="../assets/img/prev-arrow_07.png"></button>
				<button type="button" class="next-arrow" aria-label="next"><img src="../assets/img/next-arrow_06.png"></button>			
			</div>
			<div class="slider-content-panel column medium-6">
				<a href="#" class="join-button">Join now</a>
				<ul class="rounded-link-list">
					<li><a href="">Read Mechanics</a></li>
					<li><a href="">View <br/>Filter</a></li>
					<li><a href="">View <br/>Galery</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>