<section class="takephoto">
    <ul class="tabs" data-tabs id="photo-tab">
        <li class="column small-6 tabs-title take-photo is-active"><a href="#take-photo" aria-selected="true">TAKE PHOTO</a></li>
        <li class="column small-6  tabs-title select-frame"><a href="#select-frame">SELECT FRAME</a></li>
        <li class="column small-6  tabs-title edit-photo"><a href="#edit-photo">EDIT PHOTO</a></li>
    </ul> 
    <div class="tabs-content" data-tabs-content="photo-tab">
        <div class="tabs-panel is-active" id="take-photo">
            <video id="camera" width="640" height="480" autoplay></video>
            <div class="column large-12 text-center">
                <button class="button" type="button" id="capture">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </button> 
            </div>
        </div>
        <div class="tabs-panel" id="select-frame">
            <canvas id="canvas"></canvas> 
            <div id="output-filter">
                <img class="filter" src="/assets/img/filters/adventure.png" alt="">
                <img src="" id="canvas-output" alt="">
            </div>
            <div class="filter-wrapper">
                <ul class="filters">
                    <li><img data-name="adventure" data-lazy="/assets/img/filters/thumbs/adventure.png" alt=""></li> 
                    <li><img data-name="art" data-lazy="/assets/img/filters/thumbs/art.png" alt=""></li>
                    <li><img data-name="adventure" data-lazy="/assets/img/filters/thumbs/adventure.png" alt=""></li> 
                    <li><img data-name="art" data-lazy="/assets/img/filters/thumbs/art.png" alt=""></li>
                </ul>
            </div> 
        </div>
    </div>
</section>