{{> navigation}}

	<section class="page-background-container filter">
		<div class="page-background-wrapper"></div>
			<div class="content-wrapper filters-wrapper">
				<div class="intro-banner-block text-center">
					<p>Choose a filter to view and find out more about it!</p>
				</div>
				<div class="content-section  filters-container">
					<ul class="filter-list clearfix">
						<li><a data-open="adventure"><img src="../assets/img/frames/adventure.png"></a><p>Adventure</p></li>
						<li><a data-open="art"><img src="../assets/img/frames/art.png"></a><p>Art</p></li>
						<li><a data-open="pose"><img src="../assets/img/frames/pose.png"></a><p>Pose like a pro</p></li>
						<li><a data-open="dance"><img src="../assets/img/frames/dance.png"></a><p>Dance</p></li>
						<li><a data-open="impact"><img src="../assets/img/frames/good.png"></a><p>Good Impact</p></li>
						<li><a data-open="hobby"><img src="../assets/img/frames/hobby.png"></a><p>New Hobby</p></li>
						<li><a data-open="passion"><img src="../assets/img/frames/passion.png"></a><p>Passion</p></li>
						<li><a data-open="friends"><img src="../assets/img/frames/selfie.png"></a><p>New Friends</p></li>
						<li><a data-open="silly"><img src="../assets/img/frames/silly.png"></a><p>Look Silly</p></li>
						<li><a data-open="trend"><img src="../assets/img/frames/trend.png"></a><p>Start a trend</p></li>
					</ul>
					<p class="text-center">
						<a href="#" class="button block blue">home</a>
					</p>
				</div>
				
			</div>
	</section>

	<div class="reveal filter-reveal-container small" id="adventure" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/adventure.png">
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>Adventure</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="trend" class="button half back">Back</a>
	  			<a data-open="art" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal filter-reveal-container small" id="art" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/art.png">
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>Art</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="adventure" class="button half back">Back</a>
	  			<a data-open="pose" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal filter-reveal-container small" id="pose" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/pose.png">
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>Pose like a pro</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="art" class="button half back">Back</a>
	  			<a data-open="dance" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal filter-reveal-container small" id="dance" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/dance.png>
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>dance</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="pose" class="button half back">Back</a>
	  			<a data-open="impact" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal filter-reveal-container small" id="impact" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/good.png">
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>Good impact</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="dance" class="button half back">Back</a>
	  			<a data-open="hobby" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal filter-reveal-container small" id="hobby" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/hobby.png">
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>new hobby</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="dance" class="button half back">Back</a>
	  			<a data-open="passion" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal filter-reveal-container small" id="passion" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/passion.png">
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>passion</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="hobby" class="button half back">Back</a>
	  			<a data-open="friends" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal filter-reveal-container small" id="friends" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/selfie.png">
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>good friends</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="passion" class="button half back">Back</a>
	  			<a data-open="silly" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal filter-reveal-container small" id="silly" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/silly.png">
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>look silly</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="friends" class="button half back">Back</a>
	  			<a data-open="trend" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal filter-reveal-container small" id="trend" data-reveal>	  	
	  	<div class="row">
	  		<div class="small-12 filter-reveal-img">
	  			<img src="../assets/img/frames/trend.png">
	  		</div>
	  		<div class="small-12 filter-reveal-desc">
	  			<h3>Start a trend</h3>
	  			<p>Take a selfie with fun strangers!</p>
	  		</div>
	  		<div class="small-12 filter-reveal-button clearfix">
	  			<a href="#" class="button full pink">Take Selfie</a>
	  			<a data-open="silly" class="button half back">Back</a>
	  			<a data-open="adventure" class="button half next">Next</a>
	  		</div>
	  	</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>

{{> footer}}