{{> navigation}}

	<section class="page-background-container gallery">
		<div class="page-background-wrapper"></div>
			<div class="content-wrapper text-center photo-gallery-inside">
				<div class="row photo-gallery-wrapper">
					<div class="small-12 gallery-photo-image">
						<img src="../assets/img/gallery-sample-image_02.png">
					</div>
					<div class="small-12">
						<div class="gallery-photo-desc">
							<h2>By <span class="name">Rica De Jesus</span></h2>
							<ul class="social-share-list">
								<li><a href="#"><span class="icon-circle font-icon"><i class="fa fa-facebook" aria-hidden="true"></i></span> share this <br> on facebook</a></li>
								<li><a href="#"><span class="icon-circle font-icon"><i class="fa fa-twitter" aria-hidden="true"></i></span>Tweet <br>about it</a></li>
								<li><a href="#"><span class="icon-circle selfie"><img src="../assets/img/helper-icon-menu-filter_06.png"></span>Upload <br>selfie</a></li>
								<li><a href="#"><span class="icon-circle save"><img src="../assets/img/download-icon_03.png"></span>save to <br>phone</a></li>
								<li><a href="#"><span class="icon-circle entries"><img src="../assets/img/gallery-icon_03.png"></span>view <br>entries</a></li>								
							</ul>
						</div>
						<div class="gallery-photo-desc-buttons">
							<p>Want to be 1 of 5 lucky girls <br/> to join on an adventure in the sky?</p>
							<a href="#" class="button block cornflower">Sign up</a><br/>
							<a href="#" class="button block seance">views mechanics</a><br/>
							<a href="#" class="button block plum">home</a>
						</div>
					</div>
				</div>
				
			</div>
	</section>

{{> footer}}