{{> navigation}}

	<section class="page-background-container gallery">
		<div class="page-background-wrapper"></div>
			<div class="content-wrapper text-center tab-1" id="tab-container">
				<h1>Gallery</h1>
				<p class="sub-title">Browse through photos that inspire you to unlock courage.</p>

				<ul class="tabs gallery-tabs">
				  		<li class="tab-title tabs-title active" data-tab="tab-1">All entries</li>
				  		<li class="tab-title tabs-title" data-tab="tab-2">My Entries</li>
				</ul>

				<div class="tabs-content">
					<!-- start of all entries -->
				  <div class="tab-content tab-1 active" data-url="https://api.myjson.com/bins/8ov21">
				    <ul class="gallery-thumbs-list clearfix"></ul>
					  <div class="row text-center">
						  <a href="#" id="load-more" class="button full load load-more">Load more</a>
					  </div>
				  </div>
				  	<!-- end all entries -->

					<!-- start of my entries -->
				  	<div class="tab-content tab-2" data-url="https://api.myjson.com/bins/8ov21">
						<ul class="gallery-thumbs-list clearfix"></ul>
					  <div class="row text-center">
						  <a href="#" id="load-more" class="button full load load-more">Load more</a>
					  </div>
				 	 </div>
					<!-- end of my entries -->
				</div>

				<!-- compoment navigator links -->
				<div class="helper-menu-container">
					<ul>
						<li>
							<a href="#">
								<span class="img-cont"><img src="../assets/img/helper-icons-menu-house_06.png"></span>
								Return <br/>Home
							</a>
						</li>
						<li class="tab-title" data-tab="tab-2">
							<a href="#">
								<span class="img-cont"><img src="../assets/img/helper-icon-menu-gallery_06.png"></span>
								View my<br/> gallery
							</a>
						</li>
						<li class="tab-title active" data-tab="tab-1">
							<a href="#">
								<span class="img-cont"><img src="../assets/img/helper-icon-menu-gallery_06.png"></span>
								View my<br/> all entries
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img-cont"><img src="../assets/img/helper-icon-menu-filter_06.png"></span>
								Create a <br/>new one
							</a>
						</li>
					</ul>
				</div>
			</div>
	</section>

{{> footer}}