{{>navigation}}
	<section class="page-background-container mechanics">
		<div class="page-background-wrapper"></div>

			<div class="mechanics-wrapper">
				<h1>mechanics</h1>
				<div class="small-12 step-1">
					<div class="step-content">
						<div class="step-content-img text-center">
							<img src="../assets/img/MECHANICS-01_03.png">
						</div>
						<div class="step-content-desc">
							<p>Buy any MODESSⓇ, CLEAN & CLEARⓇ, or CAREFREEⓇ product within the promo period. Don’t forget to keep the receipt(s)! Once you’ve purchased a product, you can register your personal details. </p>
						</div>
					</div>
				</div>
				<div class="small-12 step-2">
					<div class="step-content">
						<div class="step-content-img text-center">
							<img src="../assets/img/MECHANICS-03_03.png">
						</div>
						<div class="step-content-desc text-center">
							<p>After registering, upload or <br/> take a selfie and apply any of <br/> the 10 #CourageUnlocked <br/> filters on the photo.</p>
						</div>
					</div>
				</div>
				<div class="small-12 step-3">
					<div class="step-content">
						<div class="step-content-img text-center">
							<img src="../assets/img/MECHANICS-02_03.png">
						</div>
						<div class="step-content-desc text-center">
							<p>Upload the <br/> #CourageUnlocked-filtered selfie.<br/> You can also share it on your <br/>Facebook and Twitter pages! </p>
						</div>
					</div>
				</div>



				<div class="small-12 text-center ending-text">
				<div class="step-content">
					<p>The more #CourageUnlocked selfies <br/>
						you share, the more chances of winning. <br/>
						So, keep those photos coming!</p>
						<a href="#" class="button full radical">Upload Selfie</a>
						<a href="#" class="button full lightblue">Read terms and conditions</a>
						<a href="#" class="button full lightblue">back to home</a>
						</div>
				</div>

				
			</div>
	</section>
{{>footer}}