{{> navigation}}

<section class="full-width-container prizes-container clearfix">
	<div class="prizes-carousel medium-6">
		<div class="prizes-slide">
			<div class="slide-item" style="background: url('../assets/img/PRIZES-slide_03.png') center/cover no-repeat;">
				<img src="../assets/img/PRIZES-slide_03.png" style="visibility: hidden;">
			</div>
			<div class="slide-item" style="background: url('../assets/img/gallery-bg_02.png') center/cover no-repeat;">
				<img src="../assets/img/gallery-bg_02.png" style="visibility: hidden;">
			</div>
		</div>
	</div>
	<div class="prizes-desc medium-6">
		<div class="intro-container text-center">
			<h1>What exciting prizes are up for grabs?</h1>
			<p>Only 5 lucky girls will get to join Liza 
			on an adventure in the sky at
			<span class="title-span">Masungi Georeserve.</span></p>
			<a href="#" class="button full radical">CLICK HERE TO JOIN NOW!</a>
		</div>
		<div class="product-prizes-wrapper">
			<h2 class="text-center">other Prizes
			<span class="sub-title">(Actual Prizes may vary from the images provided in this page.)</span></h2>
			<div class="product-prizes-items">
				<div class="go-pro-prize">
					<img src="../assets/img/gopro-prize_06.png">
				</div>
				<div class="tent-prize">
					<img src="../assets/img/tent-prize_06.png">
				</div>
				<div class="jacket-prize">
					<img src="../assets/img/jacket-prize_06.png">
				</div>
				<div class="bag-prize">
					<img src="../assets/img/bag-prize_07.png">
				</div>
				<div class="tumbler-prize">
					<img src="../assets/img/tumbler-prize_10.png">
				</div>

				
			</div>
		</div>
	</div>
</section>

{{> footer}}