{{>navigation}}

<section class="page-background-container filter">
	<div class="page-background-wrapper"></div>
		<div class="content-wrapper product-wrapper">
			<h1>Participating products</h1>

			<div class="intro-banner-block text-center">
				<p>Buy any of the following products</p>
			</div>

			<div class="product-container clearfix" id="tab-container">
				<ul class="tabs-title clearfix">
					<li class="tab-title active modess" data-tab="tab-1">
						<img src="../assets/img/brqand-modess_07.png">
					</li>
					<li class="tab-title cleanclear" data-tab="tab-2">
						<img src="../assets/img/brand-clean&clear_06.png">
					</li>
					<li class="tab-title carefree" data-tab="tab-3">
						<img src="../assets/img/brand-carefree_07.png">
					</li>
				</ul>

				<div class="tabs-content clearfix">
					<div class="tab-content tab-1 modess active clearfix">
					    <ul class="product-slider">
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Modess</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Modess</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Modess</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Modess</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Modess</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Modess</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Modess</p>
					    	</li>
					    </ul>
					</div>
					<div class="tab-content tab-2 cleanclear clearfix">
				  		<ul class="product-slider">
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Clean & Clear</p>
					    	</li>
					    </ul>
					</div>
					<div class="tab-content tab-3 carefree clearfix">
				  		<ul class="product-slider">
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Carefree</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Carefree</p>
					    		<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Carefree</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Carefree</p>
					    		<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Carefree</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Carefree</p>
					    		<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Carefree</p>
					    	</li>
					    	<li class="product-item">
					    		<img src="../assets/img/item-1_03.png">
					    		<p>Carefree</p>
					    	</li>
					    </ul>
					</div>
				</div>
				
				<p class="text-center">
					<a href="#" class="button block blue">home</a>
				</p>
			</div>
			
		</div>
</section>

{{>footer}}