
{{> navigation}}

<section class="page-background-container registration">
	<div class="page-background-wrapper">	</div>
	<div class="content-wrapper">
		<h1>Let's get started</h1>
		<p class="sub-title">Type in your details 'cause we want to know a little bit more about you</p>

		<div class="pagination-wizard">
			<span class="wizard-indicator active" arial-hidden="true"></span>
			<span class="wizard-indicator" arial-hidden="true"></span>
			<span class="wizard-indicator" arial-hidden="true"></span>
		</div>
		<a href="#" class="button facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Log in with facebook</a>
	</div>
</section>

{{> footer}}