
{{> navigation}}

<section class="page-background-container {{page}}">
	<div class="page-background-wrapper">	</div>
	<div class="pagination-wizard show-for-medium">
        <span class="wizard-indicator active" arial-hidden="true"></span>
        <span class="wizard-indicator" arial-hidden="true"></span>
        <span class="wizard-indicator" arial-hidden="true"></span>
    </div>
	<div class="content-wrapper">
		<h1>Let's get started</h1>
		<p class="sub-title">Type in your details 'cause we want to know a little bit more about you</p>

		<div class="pagination-wizard hide-for-medium">
			<span class="wizard-indicator active" arial-hidden="true"></span>
			<span class="wizard-indicator" arial-hidden="true"></span>
			<span class="wizard-indicator" arial-hidden="true"></span>
		</div>
		<div class="banner-block">
			<p>Sign up</p>
		</div>
		<form class="registration-form" method="post" action="http://localhost:8000/registration-message.html">
		<input type="hidden" name="csrf_test_name" value="eea0faf3229d62f6dba64c2825f334ab">
            <input type="hidden" name="refer" value="">
		<div class="error-container-message">
			<h2>UH oh!</h2>
			<p>There seems to be and error in one of the fields. Please check and try again!</p>
		</div>
			<fieldset>

				<div class="row">
					<div class="column medium-6 noPad">
						<label>first name</label>
						<input type="text" data-error="This field is required" data-label="name" data-required/>
					</div>

					<div class="column medium-6 noPad">
						<label>Last name</label>
						<input type="text" data-error="This field is required" data-label="name" data-required/>
					</div>
				</div>

				<div class="row">
					<label>email address</label>
					<input type="email" data-error="This field is required" data-label="email" data-required/>
				</div>

				<div class="row">
					<label>Complete address</label>
					<input type="text" data-error="This field is required" data-required>
				</div>

				<div class="row relative">
					<label>Regional Address</label>
					<select data-error="This field is required" name="address" data-required>
						<option>Metro Manila</option>
						<option>Metro Manila</option>
					</select>
					<i class="fa fa-caret-down" aria-hidden="true"></i>
				</div>				
				
				<div class="row">
					<label>date of Birth</label>
					<input type="text"  id="datepicker" data-error="This field is required" data-required>
				</div>

				<div class="row">
				<label>Mobile number</label>
				<input type="tel" name="mobile_number" data-error="This field is required" data-label="phone" data-required onkeypress="return isNumberKey(event)" required-number="11"/>

				<label class="check-label"> 
					<input type="checkbox" name="" data-error="Please check the box before proceeding." data-required>
					<span class="labeld">I have read and agree to the <a href="#">terms of use</a></span>			
				</label>

				<p>We collect your personal data to give you access to our campaign promo, “Courage Unlocked”. </p>
				<p>If you do not provide your information, you would be unable to enter this promotion.  Your personal data may be shared with our affiliates or contacted service providers who manage aspects of this promotion for us.  You have a right, subject to certain exceptions, to request access of, or correction to your personal data.  For full details on how we use your personal data, please read our Complete Promo Mechanics.</p>
				<p>By clicking “SUBMIT”, you expressly consent to the processing of your personal data as described here.</p>
			</fieldset>
			<button type="submit" class="submit-button">Submit <i class="fa fa-caret-right" aria-hidden="true"></i></button>
		</form>
	</div>
</section>

{{> footer}}