
{{> navigation}}

<section class="page-background-container {{page}}">
	<div class="page-background-wrapper">	</div>
	<div class="content-wrapper">
		<h1>Terms & conditions</h1>
		<div class="content-section">
			<h6>Terms and Conditions</h6>
			<ul class="number-list">
				<li>The COURAGE UNLOCKED Promo is open to females in the <br/>Philippines 12 – 25 years old.</li>
				<li>Promo period is from April 6, 2017 to May 31, 2017 at 11:59pm. </li>
				<li>To join the promo, participants must do the following:
					<ul>
						<li>Purchase any of the J&J Total Teen product within the promo 	<br/>
						period and keep the receipt AND the product as proof of pur	<br/>
						chase. Brands include MODESS, CAREFREE and CLEAN and 	<br/>
						CLEAR with the following products:
							<ul>
								<li>Modess All Night 4s</li>
								<li>Modess Cottony Soft with Wings 8s</li>
								<li>Modess Cottony Soft Non-Wing 8s</li>
								<li>Carefree Breathable 20s </li>
								<li>Carefree Super Dry 20s</li>
								<li>Carefree Healthy Fresh 20s</li>
								<li>Clean & Clear Oil Control Film 50 sheets</li>
								<li>Clean & Clear Oil Control Film 60 sheets</li>
								<li>Clean & Clear Foaming Facial Wash 20mL </li>
								<li>Clean & Clear Foaming Facial Wash 50mL </li>
								<li>Clean & Clear Foaming Facial Wash 100mL  </li>
							</ul>
							<li>Go to the COURAGE UNLOCKED PROMO <br/><a href="http://courageunlocked.com/">website: www.courageunlocked.com</a></li>
							<li>Register with the following details:
								<ul>
									<li>Name</li>
									<li>Address – specify region </li>
									<li>Mobile Number</li>
									<li>Email Address</li>
									<li>Which product did you purchase? (tick box)</li>
									<li>Agreement to the terms and conditions</li>
								</ul>
							</li>
							<li>Take a photo using one of the COURAGE UNLOCKED filters</li>
							<li>Upload and submit the photo in the same website. <br/> User has the option to share their photo in her Facebook and Twitter accounts.</li>
						</li>
					</ul>
				<li>The information submitted will be used by the organizers of the COURAGE UNLOCKED PROMO for activities of the promotion.</li>
				<li>One (1) receipt and product entitles the customer to one (1) entry. Winners must show both the receipt and product as proof of purchase.</li>
				<li>One photo submission is considered one entry. Participant may send 	multiple entries, but can only win once. </li>
				<li>All submissions will be reviewed.  Any entry deemed inappropriate or unsuitable for posting, in promo organizer’s sole discretion, will be 	disqualified and will be taken down. Inappropriate and unsuitable entries include, but shall not be limited to:
					<ul>
						<li>Obscene, profane, lewd, defamatory content, data or images unsuitable for broadcast </li>
						<li>Crude, vulgar or offensive pictures, depictions, images, language gang signs and/or symbols </li>
						<li>Gratuitous violence, gun or other imagery or gestures of weapons </li>
						<li>Nudity </li>
						<li>Explicit, graphic or sexual activity </li>
						<li>Commercial products such as clothing, toys, food and/or their trademarks, brands, logo or endorsements </li>
						<li>Hard liquor use or product images </li>
						<li>License plates, phone numbers, personal addresses (physical or email) or otherwise </li>
						<li>Website or web page links </li>
						<li>Illegal drug or alcohol use or abuse </li>
						<li>Derogatory characterizations of any ethnic, racial, sexual or religious groups, humiliate other people (publicly or otherwise), any assault or threatening of others </li>
						<li>Trespass or the violation of other people’s rights or property </li>
						<li>Illegal (discriminatory, harassing) or inappropriate activity, behavior or conduct (i.e, inflicting emotional distress) </li>
						<li>Any other content, display, materials and/or images that is or could be considered inappropriate, unsuitable or offensive, as determined by Organizer in its sole discretion </li>
						<li>Any third party materials (including but not limited to music) that may otherwise violate or infringe (or may infringe) any of 	the following:
							<ul>
								<li>Copyright, trademark, logo, mark that identifies a brand or other 
	proprietary right of any person living or deceased (including but not limited to rights of privacy or publicity or portrayal in a false light) or entity, or is otherwise objectionable, will not be considered and may disqualify the Entrant. </li>			
								<li>Clothing worn in the photo should not contain any visible logos, drawings, cartoons, phrases, trademarks or other third-party materials. </li>
							</ul>
						</li>								
					</ul>
				</li>
				<li>Any entry not in compliance with the above requirements may be disqualified and removed from the promo page.</li>
				<li>Organizer has the sole discretion to determine whether a photo qualifies as an Entry.</li>
				<li>By submitting the photo and by participating in the promo, the participant 		declares that she is the owner of the entry and that she has the 
intellectual property right or license over the entry. Upon agreeing to the 	
terms & conditions she agrees and assumes full liability in case of claims 
from third parties, holding MODESS®, CAREFREE® and CLEAN & CLEAR® 	
free from such claims. The participant also gives MODESS®, CAREFREE® 	
and CLEAN & CLEAR® full permission to use the said photo for publicity 
and corporate information purposes in various media such as print, radio, 
TV, Internet and other multimedia outlets. By participating in the promo, 
the participant also warrants that he/she has agreed to the rules, 
mechanics, terms and conditions.</li>
				<li>Organizers are not responsible for late, lost, illegible or incomplete entries. 
They do not warrant uninterrupted access to the promo by reason of, but 
not limited to, technical malfunction, misdirected transmissions or failures, 
internet access problems, etc.</li>
				<li>Five (5) winners will be selected for the Grand Prize and will jointly win a 
whole day adventure with Liza Soberano in Masungi Georeserve, at Baras,Rizal.
						<ul>
							<li>One (1) Winner from NCR </li>
							<li>One (1) Winner from North Luzon</li>
							<li>One (1) Winner from South Luzon</li>
							<li>One (1) Winner from Visayas</li>
							<li>One (1) Winner from Mindanao</li>
						</ul>
				</li>
				<li>Five (5) winners will be selected for the Consolation Prizes and will win only one (1) of the following prizes: 
					<ul>
						<li>GoPro Hero 5 </li>
						<li>Coleman Camping Tent</li>
						<li>Deuters Bag</li>
						<li>North Face Jacket Gift Certificate</li>
						<li>Klean Kanteen Tumblr</li>
					</ul>
				</li>
				<li>The Grand Prize winners and Consolation Prize winners will be randomly selected via electronic raffle. </li>
				<li>The determination of winners will be held in the presence of a DTI 	representative on June 7, 2017 at DDB Philippines, 16F Two World Square, Upper McKinley Road, Taguig.</li>
				<li>The winners will be notified via registered email and a phone call with instructions on how to claim their prize by the Promo Manager from DDB Philippines.</li>
				<li>Winners must be able to show the purchased product (wrapper or bottle) and the receipt of the product she purchased during the Promo Period.</li>
				<li>Winners may claim their prize Monday to Friday from 9 AM – 5 PM at 	Johnson & Johnson Philippines Inc. Office, Edison Rd. Bo Ibayo, Paranaque City, starting July 3, 2017.
					<p>To redeem their prize, winners must present the following:</p>
					<ul>
						<li>Official winner’s notification (in the form of registered mail, email, or SMS)</li>
						<li>2 valid IDs (e.g company ID, school ID, SSS, Passport, other government ID)</li>
						<li>Proof of Purchase (purchased product container (wrapper or bottle) and official receipt used to purchase the products within promo period)</li>
						<li>Winners who are below 18 years old must be accompanied by a legal guardian and must be able to present proof of the relationship to the minor plus a valid ID</li>
					</ul>
					<p>For winners outside Metro Manila, consolation prizes will be delivered via registered mail once scanned copies of the above documents have been sent and delivery address is provided. </p>
				</li>
				<li>The prize is non-transferable and non-convertible to cash. Incidental charges (if any) and related taxes (such as but limited to: amusement tax, withholding tax, VAT, insurance and the like) shall be shouldered by Johnson & Johnson Philippines Inc. </li>
				<li>Winners must provide proper identification (a valid Government or School ID) on the day of the adventure in Masungi Georeserve.  </li>
				<li>Johnson & Johnson Philippines Inc. will shoulder the transportation and accommodation expenses of the winners, even for winners outside of Metro Manila or the NCR. For inners who are below 18 years old, Johnson & Johnson Philippines Inc. will shoulder the transportation and accommodation expense of only one (1) parent / legal guardian. </li>
				<li>Taxes on prizes, if any, will be shouldered by Johnson & Johnson Philippines Inc.</li>
				<li>Winners below 18 years old must secure the consent of their parents to join the Adventure Day in Masungi Georeserve.</li>
				<li>The winners shall agree to be featured in any and all publicity materials of Johnson & Johnson Philippines Inc.</li>
				<li>Employees of  Johnson & Johnson Philippines Inc. (regular  or  contracted), DDB, its Advertising and PR agencies, tenants, participating sponsors and suppliers, including their elatives up to the second degree of consanguinity or affinity are disqualified from joining the promotion. </li>
			</ul>
			<p>PER DTI-FTEB SPD Permit No. ____ Series of 2017.</p>
			<p class="text-center">
				<a href="#" class="button full">Home</a>
			</p>
		</div>
	</div>
</section>

{{> footer}}