.banner-container{
	width: 100%;
	height: 100%;
	background: url('../img/main.jpg') top/cover no-repeat;
	position: relative;

	@media screen and (max-width: $tablet) {
	   background: url('../img/main-small.jpg') center/cover no-repeat;
	}

	.heading-contianer{
		

		@media screen and (min-width: $tablet + 1) {
			text-align: right;
			float: right;
			max-width: 60%;
			padding-top: 3%;
			
			.mobile-heading{
				display: none;
			}
		}

		@media screen and (max-width: $tablet) {
			text-align: center;
			position: absolute;
			width: 100%;
		    transform: translateY(-50%);
		    bottom: 0;
		    margin: 0 auto;
		    left: 0;

		    img{
		    	max-width: 80%;
		    }

		    a img{		    	
    			max-width: 70%;
		    }

			.desktop-heading{
				display: none;
			}
		}

		@media screen and (max-width: $iphone6p){
			a img{		    	
    			max-width: 50%;
		    }
		}
	}	

	.anchor-arrow img{
		position: absolute;
	    bottom: 100px;
	    right: 0;
	    left: 0;
	    margin: 0 auto;
	    width: 50px;
	    animation: bounce 2s infinite;
		 -webkit-animation: bounce 2s infinite;
		 -moz-animation: bounce 2s infinite;
		 -o-animation: bounce 2s infinite;

	    @media screen and (max-width: $tablet) {
			//display: none;		
			width: 35px;
		}
	}

	ul.brands-list{
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 10px;
		right: 0;
	    left: 0;

	    @media screen and (min-width: $tablet + 1) {
			display: none;			
		}

		li{
			display: inline-block;
			width: calc(100%/3 - 10px);
		}
	}
}
