.hot-button{		
	margin: 0 auto;
	display: table;
	text-align: center;
	@media screen and (min-width: $tablet) {
		margin-top:-20px;
	}

    img{
    	max-width: 175px;

    	@media screen and (max-width: $tablet) {
    		max-width: 150px; 
    	}

    	@media screen and (max-width: $iphone6p) {
    		max-width: 90px; 
    	}
    }
}

.button{
	text-transform: uppercase;
	@include myfont($font-bold, 24px, 1)
	background: $colour-niagara;

	@media screen and (max-width: $iphone6p){
		@include myfont($font-bold, 16px, 1)
	}

	&:hover,
	&:focus{
		opacity: 0.8;
	}


	&.block{
		width: 100%;
		max-width: 350px;
		padding: 10px;
	}

	&.full{
		width: 100%;
		display: block;
		padding: 15px;
	}

	&.half{
		display: inline-block;
	    width: 50%;
	    float: left;
	}

	&.pink{
		background: $colour-bright-pink;
	}

	&.purple{
		background: $colour-london-hue;
	}

	&.deluge{
		background: $colour-deluge;
	}

	&.cornflower{
		background: $colour-cornflower;
	}

	&.seance{
		background: $colour-seance;
	}

	&.plum{
		background: $colour-plum;
	}

	&.radical{
		background: $colour-radical-red;
	}

	&.lightblue{
		background: #06c9b9;
	}

	&.facebook{
		display: block;
		background: $colour-dodger-blue;
		word-spacing: 10px;
    	letter-spacing: 4px;
    	padding: 50px 15px;

		i{
			display: block;
			background: $white;
			color: $colour-dodger-blue;
			width: 50px;
			height: 50px;
			border-radius: 100px;
			margin: 0 auto;
			margin-bottom: 10px;
			font-size: 30px;
    		line-height: 1.75em;
		}
	}

	&.load{
		background: $colour-eminence;
		color: $colour-witch-haze;
		margin-bottom: 0;
		position: relative;					
	}
}