.filters-wrapper{
	max-width: 900px;

	.filters-container{
		padding: 50px 20px 1px;
		margin-top: 0;
		

		@media screen and (max-width: $tablet){
			padding: 50px 0 1px;
		}

		ul.filter-list{
			margin: 0;
			padding: 0;
			list-style: none;
			margin-bottom: 30px;
			display: table;
			text-align: center;

			li{
				vertical-align: top;
				width: calc(100% / 5 - 24px);
				margin: 0 10px;
				padding: 0;
				display: inline-block;

				img {
					background: #020202;
				}



				@media screen and (max-width: $tablet){
					width: calc(100% / 3);
					margin: 0;

					&:last-child(){
						display: block;
						margin: 0 auto;
						float: none;
					}
				}

				p{
					padding: 10px;
					text-align: center;
					margin: 0; 
					color: #448ccb;
					text-transform: uppercase;
					font-size: 12px;
				}
			}
		}
	}
}

.filter-reveal-container{
	padding: 0;
	//overflow-y: visible;
	border: 0;
	outline: 0;
	margin-bottom: 50px;
	background: transparent;
	
	.row {
		padding: 30px 15px;
		background: #FFF;
	}

	@media screen and (min-width: $tablet){
		width: 100% !important;
    	max-width: 550px !important;
    	padding-top: 50px;
    	//top: 100px !important; 
	}

	.close-button{
		//position: absolute;
	    //top: -50px;
	    right: 0;
	    top: 0;
	    width: 50px;
	    background: #fff;
	    font-size: 45px;
	    height: 50px;

	    @media screen and (max-width: $tablet - 1){
	    	font-size: 35px;
	    	height: 40px;
	    	width: 40px;
	    	position: absolute;
		    
	    }
	}

	.filter-reveal-desc{		
		text-align: center;		
		padding:0px 64px;
	    @media screen and (max-width: $tablet){
			padding:0px 34px;
		}

		h3, p{
			color: #ff4a79;
			line-height: 1;
		}


	    h3{
	    	font-size: 32px;
	    }
	}

	.filter-reveal-button{
		max-width: 450px;
		margin: 0 auto;
		padding: 0 30px;

		.button-base{
			padding: 10px;
    		font-size: 12px;
		}

		.back{
			@extend .button-base;
			background: #337fdc;
		}
		.next{
			@extend .button-base;
			background: #69a0e5;
		}
	}

	.filter-reveal-img{
		text-align: center;	
		margin: 0 auto 20px;

		img{
			width: 100%;
			max-width: 350px;
		}	

		@media screen and (max-width: $tablet){
			margin-bottom: 20px;
			
		}
	}
}


body.page-filter {
	.reveal-overlay {
		background-color: rgba(0, 0, 0, 0.7);
	}

	@include breakpoint(medium down){
		.page-background-container h1 {
			font-size: rem-calc(23px)
		}
	}
}	

