footer{
	width: 100%;	
	bottom: 0;
	min-height: 100px;
	position: relative;

	/*@media screen and (min-width: $tablet + 1){
		position: absolute;
	}*/

	.footer-wrapper{
		max-width: 1180px;
	    margin: 0 auto;
	    padding: 20px 20px 0px 20px;
	    position: relative;
	    width: 100%;

		ul{
			margin: 0;
			padding: 0;

			li{
				display: inline-block;
			}			

			@media screen and (min-width: $tablet) {
	    		text-align: center;
	    	}

	    	&.brands-list{	    		
	    		text-align: left;
	    		margin: 0; 
	    		
	    		@media screen and (max-width: $tablet){
	    			text-align: center;
	    			margin-bottom: 10px;
	    			padding-top: 20px;
	    		}

	    		li{
	    			width: calc(100% / 3 - 10px);
	    		}

				@media screen and (max-width: $tablet){
					img {
						max-width:90px;
					}
				}
				@media screen and (min-width: $tablet){
					img{
						max-width: 60%;
					}
				}
	    	}

	    	&.link-list{
	    		padding: 0 30px;
	    		text-align: center;

	    		@media screen and (min-width: $tablet + 1) {
		    		border-left: 1px solid $colour-sorbus;
		    	}

	    		li{
					margin-right: 10px;
					vertical-align: top;

					a{
						color: #993399;
						text-decoration: underline;
						font-size: 11px;

						@media screen and (min-width: $tablet) {
				    		font-size: 13px;
				    	}
					}
				}
	    	}			
		}
	}
    .footer-dti {
        text-align:center;
        padding:10px 20px 20px 20px;
        small {
            font-size:9px;
        }
    }
}
