form{
	padding: 0;
	margin: 0;

	&.registration-form{
		background: $white;		

		.submit-button{
			background: $colour-dodger-blue;
			color: $white;
			display: block;
			width: 100%;
			min-height: 100px;
			text-align: right;
			text-transform: uppercase;
			@include myfont($font-bold, 28px, 1)
			position: relative;
			padding: 20px 50px;
			vertical-align: top;
			border: 0;

			i{
				font-size: 55px;
			    vertical-align: middle;
			    margin-left: 20px;
			}

			&.error{
				background: $colour-radical-red;
			}

			@media screen and (max-width: $iphone6p){
				padding: 20px 15px;
				font-size: 15px;
				min-height: 85px;

				i{
					font-size: 40px;
				    margin-left: 10px;
				}
			}
		}

		p{
			@include myfont(inherit, 13px, 1)
			color: $colour-dove-grey;
			text-align: center;
		}

		.error-container-message{
			background: $colour-radical-red;
			padding: 20px;
			color: $white;
			text-align: center;
			position: relative;
			display: none;

			&:after{
    			top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(213, 213, 213, 0);
				border-top-color: $colour-radical-red;
				border-width: 30px;
				margin-left: -30px;
				z-index: 1;
    		}

			h2{
				font-size: 42px;
			}

			p{
				color: $white;
				font-size: 24px;
			}

			@media screen and (max-width: $iphone6p){
				h2{
					font-size: 36px
				}
				p{
					font-size: 16px;
				}
			}
		}

		.relative{
			position: relative;

			i{
				position: absolute;
			    top: 50%;
			    transform: translateY(-70%);
			    right: 10px;
			    font-size: 20px;
			}

			select{
				padding-right: 25px;
			}
		}


		fieldset{
			padding: 50px;
    		padding-bottom: 20px;
    		position: relative;

    		&:after{
    			top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(213, 213, 213, 0);
				border-top-color: $white;
				border-width: 30px;
				margin-left: -30px;
				z-index: 1;
    		}

			@media screen and (max-width: $tablet - 1){
				padding: 30px 20px;
			}
		}

		label{
			color: $colour-dodger-blue;
			text-transform: uppercase;
			@include myfont(inherit, 13px, 1)
			margin-bottom: 10px;
			display: inline-block;			
			margin-right: 20px;

			.sub {
				font-size: rem-calc(12);
				//color: #867070;
				text-transform: none;
			}
		}

		span.error-message{
			@include myfont(inherit, 13px, 1)
			font-style: italic;
			color: $colour-mandy;

			@media screen and (max-width: $tablet - 1){
				@include myfont(inherit, 10px, 1)
				margin-left: 0px;
				display: block;
			}
		}

		input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='image']):not([type='file']),
		select{
			border: 0;
			border-bottom: 1px solid $colour-alto;
			background: transparent;
    		box-shadow: none;
    		@include myfont(inherit, 16px, 1)
    		padding: 0 5px;
		    margin-bottom: 30px;
		    height: 25px;
		    width: 100%;

    		&:focus{
    			border: 0;
    			border-bottom: 1px solid $colour-dodger-blue;
    			box-shadow: none;
    		}

		}

		  /* do not group these rules */
		  input[type="text"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder {
		      color: $black;
		  }
		  input[type="text"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="tel"]:-moz-placeholder {
		      /* FF 4-18 */
		      color: $black;
		  }
		  input[type="text"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder {
		      /* FF 19+ */
		      color: $black;
		  }
		  input[type="text"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder {
		      /* IE 10+ */
		      color: $black;
		  }

		select{
			-webkit-appearance: none;
		   -moz-appearance: none;
		   appearance: none;

		   &::-ms-expand { /* for IE 11 */
			    display: none;
			}
		}

		.input-group{
			> select{
				display: inline-block;
				width: calc(100% / 3);
    			border-left: 1px solid $colour-alto !important;

    			&:first-child{
    				border-left: 0 !important;
    			}
			}
		}

		label.check-label{
			@include myfont(inherit, 15px, 1)
			color: $colour-dove-grey;
			text-transform: none;
			display: block;
			text-align: center;
			position: relative;
			margin: 50px 0;
			padding: 0 25px 0px 65px;

			@media screen and (max-width: $iphone6p){
		    	padding: 0px 0px 0px 30px;
		    }

			span.labeld:before{
				content: '';
			    position: absolute;
			    left: 45px;
			    top: -2px;
			    width: 25px;
			    height: 25px;
			    border: 2px solid #ccc;
			    background: $white;
			    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
			    padding-right: 20px;

			    @media screen and (max-width: $iphone6p){
			    	left: 0;
			    }
			}

			span.error-message{
				display: block;
				margin: 10px 0;
			}

			input[type="checkbox"]{
				position: absolute;
	    		left: -9999px;

	    		&:checked + span.labeld:before{
	    			background: $colour-dodger-blue;
	    		}
			}


			a{
				color: $colour-dodger-blue;
				text-decoration: underline;
			}
		}
		

		input.datebirth { cursor: text; }
	}
}

.success-message-container{
	background: $colour-dodger-blue;
	padding: 50px 20px;
	color: $white;
	text-align: center;
	position: relative;

	&:after{
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(213, 213, 213, 0);
		border-top-color: $colour-dodger-blue;
		border-width: 30px;
		margin-left: -30px;
		z-index: 1;
	}

	h2{
		font-size: 36px;
		margin-bottom: 30px;
	}

	p{
		color: $white;
		font-size: 24px;
		line-height: 1.25em;

		a{
			text-decoration: underline;
			color: $white;
		}
	}

	@media screen and (max-width: $iphone6p){
		h2{
			font-size: 20px;
		}
		p{
			font-size: 14px;
		}
	}
}

// jquery UI
div#ui-datepicker-div{
	background: $white;
    font-size: 10px;

    .ui-datepicker-title{
    	background: $colour-dodger-blue;
	    color: $white;
	    padding: 10px;
	    font-size: 12px;
	    text-align: center;
    }

    a.ui-corner-all{
    	margin: 10px;
    	color: $white;
    }

    .ui-datepicker-next{
    	float: right;
    	display: none;
    }
    .ui-datepicker-prev{
    	float: left;
    	display: none;
    }

    select{
    	width: 50%;
	    display: inline-block;
	    //height: 30px;
	    font-size: 12px;
	    margin-bottom: 0;
    }
}



.checkbox-container {
	text-align: center;
	margin: 50px 0;
}
 
.custom-field {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 18px;
	text-align: left;

	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	.labeld {
		color: #70708f;
		text-transform: none;
		font-size: 15px;
		margin-top: 7px;
		display: block;
		margin-left: 5px;
		text-align: left;
		margin-bottom: 10px;

		@media screen and (max-width: $iphone6p){ 
			margin-top: 0px;
		}

		a {
			text-decoration: underline;
			color: #1ba1fc;
		}
	}

	.error-message {
		text-transform: none;
		margin-left: 5px!important;
	}

	.indicator {
		position: absolute;
		top: 2px;
		left: 0;
		height: 25px;
		width: 25px;
		background: #fefefe;
		border: solid 2px #CCC;
	}

	&.radio .indicator {
		border-radius: 50%;
	}

	&:hover input ~ .indicator {
	//& input:focus ~ .indicator {
		background: #EEE;
	}
	& input:checked ~ .indicator {
		//background: #2aa1c0;
	}
	&:hover input:not([disabled]):checked ~ .indicator,
	& input:checked:focus ~ .indicator {
		//background: #0e647d;
	}
	& input:disabled ~ .indicator {
		background: #e6e6e6;
		opacity: 0.6;
		pointer-events: none;
	}
	.indicator:after {
		content: '';
		position: absolute;
		display: none;
	}
	& input:checked ~ .indicator:after {
		display: block;
	}
	&.checkbox .indicator:after {
		left: 8px;
		top: 4px;
		width: 7px;
		height: 12px;
		border: solid #1ba1fc;
		border-width: 0 4px 4px 0;
		transform: rotate(45deg);
	}
	&.checkbox input:disabled ~ .indicator:after {
		border-color: #7b7b7b;
	}
	&.radio .indicator:after {
		left: 7px;
		top: 7px;
		height: 6px;
		width: 6px;
		border-radius: 50%;
		background: #fff;
	}
	&.radio input:disabled ~ .indicator:after {
		background: #7b7b7b;
	}
}
