.gallery{

	.gallery-tabs{
		background: $colour-eminence;
		border: 0;

		.tabs-title{
			width: 50%;
		}

		.tabs-title{
			color: $white;
			font-size: 16px;
			text-transform: uppercase;
			border-bottom: 5px solid $colour-studio;
			opacity: 0.7;
			cursor: pointer;
			padding: 15px;

			@media screen and (max-width: $iphone6p){
				font-size: 13px;
			}
			&.active{
				background: $colour-eminence;
				color: $white;
				border-bottom: 5px solid $colour-pink-salmon;
				opacity: 1;
			}
		}
	}

	.tabs-content{
		border: 0;		
	    background: transparent;
	    margin: 0;

	    .tab-content{
	    	padding: 0;
	    }


	    &.active{
	    	display: block;
	    }
	}

	.gallery-thumbs-list{
		margin: 0;
		padding: 0;
		text-decoration: none;
		position: relative;
		background: $colour-eminence;
		border: 0;

		li{
			display: inline-block;
			float: left;
			list-style: none;
			width: calc(100% / 5);

			@media screen and (max-width: $tablet){
		    	width: calc(100% / 3);
		    }

		    img{
		    	width: 100%;
		    	max-width: 100%;
		    }
		}
	}

	.helper-menu-container{	
		max-width: 100%;
		width: 100%;
		background: $colour-bright-pink;
	    text-align: center;
	    padding: 20px;
	    position: relative;

	    &:after{
			top: 0;
		    left: 50%;
		    border: solid transparent;
		    content: " ";
		    height: 0;
		    width: 0;
		    position: absolute;
		    pointer-events: none;
		    border-color: rgba(102, 45, 145, 0);
		    border-top-color: #662D91;
		    border-width: 30px;
		    margin-left: -30px;
		    z-index: 2;
		}

		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				padding-top: 20px;
		    	display: inline-block;
		    	margin: 0 10px;
		    	margin-bottom: 0px;
		    	line-height: 1;	 
		    	vertical-align: top;   	

		    	&:last-child(){
		    		margin-right: 0;
		    	}

		    	&.active {  display: none; }


			    @media screen and (max-width: $iphone6p){
			    	margin-right: 5px;
			    	width: calc(100%/3 - 20px);
			    }

				a{
					color: $colour-witch-haze;					
					text-transform: uppercase;
					@include myfont($font-bold, 14px, 1)

					&:hover{
						opacity: 0.7;
					}

					@media screen and (max-width: $iphone6p){
				    	font-size: 10px;
				    }
				}

				.img-cont{
					background: $colour-witch-haze;
					height: 50px;
					width: 50px;
					border-radius: 100px;
					display: block;
					padding: 10px;				
	    			margin: 0 auto 10px;

					img{
						width: 100%;
					}
				}
			}
		}
	}

	.photo-gallery-inside.content-wrapper{		
		max-width: 900px;

		@media screen and (min-width: $tablet + 1){
			padding: 0 50px;
		}

		.photo-gallery-wrapper{
			background: $colour-eminence;
			padding: 15px 0 0;
		}

		.gallery-photo-image{
			img{
				max-width: 400px;
				width: 100%;
			}
		}

		.gallery-photo-desc{
			background: $colour-eminence;
			padding: 10px 20px;
			position: relative;

			@media screen and (min-width: $tablet + 1){
				padding: 10px 0;
			}

			&:after{
				bottom: -60px;
			    left: 50%;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			    pointer-events: none;
			    border-color: rgba(102, 45, 145, 0);
			    border-top-color: #662D91;
			    border-width: 30px;
			    margin-left: -30px;
			    z-index: 2;
			}
			h2{
				color: $colour-witch-haze;
				@include myfont($font-bold, 36px, 1)
				span.name{
					color: $colour-blue;
				}

				@media screen and (max-width: $iphone6p){
					font-size: 22px;
				}
			}

			ul.social-share-list{
				.icon-circle{
					&.entries img,
					&.save img{
						max-width: 40px;
						width: 100%;
					}

					@media screen and (max-width: $tablet - 1){
						&.font-icon{
							font-size: 30px;
						}
						&.entries, &.save, &.selfie {
							padding-top: 10px; 

							img{
								max-width: 25px
							}
						}
					}
				}

				.font-icon{
					padding-top: 5px;
				}
			}
		}

		.gallery-photo-desc-buttons{
			background: $colour-bright-pink;
			padding: 50px 15px 20px;

			p{
				color: $white;
			}
		}
	}
}

