html, body{
	height: 100%;
	width: 100%;
}

body{
	padding-top: 85px;

	&.home-nav{
		padding-top: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6{
	text-transform: uppercase;
}

.content-wrapper{
	max-width: 760px;
    margin: 0 auto;
    padding: 30px 50px;
    position: relative;
    width: 100%;

    @media screen and (max-width: $tablet){
    	padding: 50px 20px 20px;
    }
}

.fixed-body{
	position: fixed;
}

.full-height{
   height: 100%;
}

.wrapper-container{
	width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}


// this is changeable base on detected page

@mixin dynamicColor($navBg, $footerBackground, $footerColor){
    nav,
    .navigation-drawer,
    .navigation-drawer .drawer-toggle-button{
        background: $navBg;
    }
    footer {
        background: $footerBackground;

        @media screen and (max-width: $tablet) {
        	.brands-list{
        		border-top: 1px solid $footerColor;
        	}           
        }

        .footer-wrapper ul.link-list{ 

            @media screen and (min-width: $tablet + 1) {
                border-left: 1px solid $footerColor;
            }

            li a{
                color: #993399;
            }
        }
    }
}

body{
    &.page-index{
        @include dynamicColor($colour-bright-pink, $colour-sunglow, #f26522)
    }
    &.page-registration{
        @include dynamicColor($colour-medium-purple, $colour-malibu, $colour-lochmara)
    }
    &.page-terms-and-condition{
        @include dynamicColor($colour-picton-blue, $colour-milan, $colour-deep-blue)
    }
    &.page-gallery{
    	@include dynamicColor($colour-bright-pink, $colour-mauve, $colour-deep-blue)
    }
    &.page-filter, &.page-participating-products, &.page-mechanics, &.page-prizes{
    	@include dynamicColor($colour-picton-blue, $colour-milan, $colour-deep-blue)
    }
}


//helper classes
.noPad{
	padding: 0;
}
.text-center{
	text-align: center;
}