.header-banner{
	min-height: 200px;
	background: url('../img/landing-page-banner_02.png') center/cover no-repeat;
	padding: 50px 20px;
	text-align: center;
	h1{
		color: $colour-witch-haze;
		@include myfont($font-black, 30px, 1)
		margin-bottom: 10px;
	}
	p{
		color: $colour-witch-haze;
		@include myfont($font-black, 13px, 1)
	}
}
