.icon {
	background: url(../img/icons.png);
	display: inline-block;
	vertical-align: middle;
	width: 250px;
	height: 125px;
	background-repeat: no-repeat;

	&.icon-webcam {
		background-position: -2px 0px; 
		width: 49px;
		height: 56px;
	}
	
	&.icon-camera {
		background-position: -248px -5px; 
		width: 50px;
		height: 43px;
	}
	
	&.icon-photos {
		background-position: -50px 0px; 
		width: 55px;
		height: 56px;
	}

	&.icon-resize {
		background-position: -106px -2px; 
		width: 38px;
		height: 31px;
	}

	&.icon-rotate {
		background-position: -145px -4px; 
		width: 24px;
		height: 28px;
	}

	&.icon-reset {
		background-position: -170px -5px; 
		width: 30px;
		height: 27px;
	}

	&.icon-arrow-left {
		background-position: -1px -57px; 
		width: 45px;
		height: 66px;
	}

	&.icon-plus {
		background-position: -50px -57px; 
		width: 62px;
		height: 66px;
	}

	&.icon-minus {
		background-position: -111px -76px; 
		width: 72px;
		height: 27px;
	}
}
