.mechanics-wrapper{
	width: 100%;
	max-width: 900px;
	padding: 30px 0 20px;
	margin: 0 auto;
	position: relative;

	@media screen and (max-width: $tablet){
		padding: 50px 20px 20px;
	}

	h1{
		margin-bottom: 30px;
	}

	.step-content-desc{
		p{
			color: #00a99d;
			position: relative;
			display: inline-block;

			a { 
				color: #00a99d; 
				text-decoration: underline;
			}

			&:before{
				color: $white;
				@include myfont($font-bold, 80px, 1)
				line-height: 1;
			    position: absolute;
			    left: -65px;
			}
			@media screen and (max-width: $iphone6p){
				font-size: 10px;
			}
		}
	}

	.step-1{
		background: #b5f5ea;
		padding: 30px 0;		

		.step-content-desc p:before{
			content: '1';
			left: -40px;			 			
		}

		@media screen and (max-width: $iphone6p){
			padding: 30px 30px 30px 50px;

			.step-content-desc p:before{
				font-size: 50px;
				left: -30px;
			}
		}
	}

	.step-2{
		background: #ffd1fc;
		padding: 30px 0;		

		.step-content-desc p{
			color: #9e005d;	
			
			&:before{
				content: '2';
				color: $white;
			}	
		}

		@media screen and (max-width: $iphone6p){
			padding: 30px;

			.step-content-desc p:before{
				font-size: 50px;
			    left: -35px;
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			}
		}
	}

	.step-3{
		background: #bfdcff;
		padding: 30px 0;

		.step-content-desc p{
			color: #0072bc;	
			
			&:before{
				content: '3';
				color: $white;
			}	
		}

		@media screen and (max-width: $iphone6p){
			padding: 30px 50px;

			.step-content-desc p:before{
				font-size: 50px;
			    left: -35px;
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			}
		}
	}

	.step-content{
		max-width: 600px;
		margin: 0 auto;
	}

	.ending-text{
		color: #0072bc;	
		font-size: 26px;
		background: #bfdcff;
		padding: 0 30px 30px;


		@media screen and (max-width: $iphone6p){
			font-size: 16px
		}
	}	

	.step-content-img{
		margin-bottom: 20px;
		a { display: block; }
	}
}
