nav{
	min-height: 75px;
	
	position: fixed;
    z-index: 1005;
    top: 0;
    width: 100%;
    padding: 15px 0;
	transition: all 0.5s ease-in-out;

    .logo{    	
    	max-width: 150px;
    	margin: 0 auto;
    	position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
    }

    button.drawer-toggle-button{
    	color: $white;
	    padding: 15px;
	    border-radius: 5px 0 0 5px;
	    float: right;
	    cursor: pointer;

	    i{
	    	font-size: 25px;
	    }
    }

    &.home-nav{
		opacity: 0;
		visibility: hidden;
    }

    &.scrolled{
    	opacity: 1;
		visibility: visible;
    }
}

.navigation-drawer{
	height: 100%;
	max-width: 250px;
	width: 100%;
	position: fixed;
    z-index: 1006;
    right: 0;
    top: 0;
     -webkit-transform: translate3d(125%, 0, 0);
    -ms-transform: translate3d(125%, 0, 0);
    transform: translate3d(125%, 0, 0);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.5s;
    transition-delay: 0.1s;

    &.is-visible{
    	right: 0;
    	-webkit-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	    transition-delay: 0.1s;
	    display: flex!important;
	    min-height: 100vh;
	    flex-direction: column;
    }

    @media screen and (min-width: $tablet + 1){
    	max-width: 350px;
    }

    .guther {
		padding: 50px 30px 20px 30px;
		flex: 1;

		@media screen and (max-width: $tablet){
			padding: 20px 30px 20px 30px;
		}
    }

    .logo-container{
    	width: 100%;
    	text-align: center;
    	margin-bottom: 20px;

    	img{
    		max-width: 150px;
    	}
    }

    button.drawer-toggle-button{
    	color: $white;
	    padding: 15px;
	    border-radius: 5px 0 0 5px;
	    float: right;
	    position: absolute;
	    left: -52px;
    	font-size: 30px;
    	cursor: pointer;
    }

    ul.nav-links{
    	margin: 0;
    	padding: 0;
    	list-style: none;

    	li{
    		display: block;
    		border-bottom: 1px solid $colour-persian-pink;
    		padding: 10px 20px;

    		img{
    			max-width: 25px;
			    vertical-align: sub;
			    margin-right: 20px;
			    float: left;
    		}

    		a{
    			color: $white;
    			display: block;

    			@media screen and (max-width: $tablet){
			    	font-size: 13px;
			    }
    		}
    	}
    }
}

.navigation-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
    visibility: hidden;

	&.open-nav{
		background: rgba(10, 10, 10, 0.51);	    
	    z-index: 1007;
	    position: fixed;
        visibility: visible;
	}

	.navigation-footer {
		.brands-list{
			text-align:center;
		    width: 100%;
		    margin: 0 auto;
		    display: block;
		    margin-bottom: 10px;
			list-style:none;
			li {
				display:inline-block;
				max-width:70px;
				@media screen and (min-width: $tablet){
					max-width:90px;
				}
			}
		}

		.logout {
			background: #FFF799;
			color: #F6608E;
			font-size: rem-calc(28);
			padding: 10px;
			text-align: center;
			width: 100%;
			display: block;
			font-family: $font-bold;
			position: relative;
			margin-top: 30px;

			&:after {
				bottom: 99%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #FFF799;
				border-width: 20px;
				margin-left: -20px;
			}

			
		}

		@media screen and (max-width: $tablet){
			.logout {
		    	font-size: rem-calc(20);
		    	padding: 7px;
				margin-top: 25px;

		    	&:after { 
		    		border-width: 15px;
					margin-left: -15px;
		    	}
		    }
	    }
	}
}
