section.photo-editor {
    background: $colour-gorse;
    //height: 100%;
    //min-height: calc(100% - 100px);
    position: relative;
	
	.button { @include transition; }

	.steps {
		width: 100%;
		color: #662D91;
		font-size: rem-calc(16);
		font-family: $font-bold;
		text-align: center;
		background: #90EEFF;
		position: relative;
		z-index: 1001;

		.pagination-wizard {
			background: #8557a7;
			.wizard-indicator {
				background: #662d91;
				&:nth-child(2) { background: #fefefe; }
			}
		}
	}

    .editor { 
    	overflow: hidden;

		.editor-content,
		.success-content { padding: 35px 0; }
		
		.success-content {
			display: none;
			text-align: center;
			
			.inner-content { 
				max-width: 430px; 
				margin: 0 auto;
				border: solid 1px #f78b0b;
        		border-left: none;
        		border-right: none;
        		padding: 15px 10px;
        		margin-top: 20px;
			}
			.result-photo { 
				text-align: center;
				img { max-width: 500px; width: 100%; }
			}
			p { margin-bottom: 15px; }
			.button {
				background: #ff0090;
				width: 100%;
				font-size: rem-calc(16);
			}
		}

		.modal-overlay { 
			position: absolute;
			left: 0; 
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1000;
			background: rgba(0, 0, 0, 0.8);
			display: none;
			align-items: center;
			justify-content: center;
			text-align: center;

			.mesages { color: #FFF; letter-spacing: 1px; }
			&.transparent { background: none; z-index: 998; display: none; }
			&.disabled { background: none; display: flex; }
			&.loading { display: none; }
		}

        .menu {
            position: relative;
            z-index: 2;
            background: $colour-eminence;
            text-align: center;
			
			.line-bar {
				height: 7px;
				width: 100%;
				max-width: 1578px;
				position: absolute;
                border-left: solid 10px $colour-wisteria;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%); 
                display: none;
			}

			ul {
				display: flex;
				list-style: none;
				margin: 0;
				padding: 0;
				align-items: center;
				height: 80px;
			}

            li { 
            	flex: 1;
            	height: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                color: #FFF;
                //cursor: pointer;
                border-bottom: solid 7px $colour-wisteria;
                font-size: rem-calc(15);
                letter-spacing: 2px;
                margin: 0 1px;

                &.submit {
                	border-color: #a381bd;
                }

                &.active {
                    border-color: $colour-kournikova;
                	font-family: $font-bold;
                    margin: 0 2px;
                	font-size: rem-calc(18);
                }

                .label-mobile { display: none; }
            }
        }

        .canvas {
            text-align: center;
            position: relative;
            background: #FFF url(../img/avatar.png) no-repeat center center;
            background-size: cover;
            //border: 1px solid #dddddd;
            margin: 0 auto;

            max-width: 500px;
            width: 100%;
            max-height: 500px;
            min-height: 300px;

            .inside-area {
                position: absolute;
                left: 0;
                top: 0;
                background-color: #FFF;
                width: 100%;
                height: 100%;
                text-align: center;
                z-index: 99;
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;

                div {
                    padding: 40px;
                    font-size: rem-calc(30);
                    color: #A2A2A2;
                }

                &.video-error { 
                	background-color: #000;

                	div { font-size: rem-calc(18); }
               	}
            }
            
            .wrapper { 
                overflow: hidden;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 10;
                text-align: left;
            }

            img {
                position: absolute;
                max-width: none;

                &.main {
                    z-index: 2;
                    cursor: move;
                }

                &.copy {
                    opacity: .2;
                    float: left; /* HACK for not scrolling*/
                    pointer-events: none;
                }

                &.main,
                &.copy {
                    transform: rotate(0deg);
                    background: #FFF;
                    top: -20px;
                    left: -20px;
                }


                &.frame { max-width: 100%; left: 0; top: 0; z-index: 11; cursor: move; }
            }

            .video-wrapper { 
            	display: none; 
            	position: relative;
	            
	            .close-btn {
					position: absolute;
					right: 10px;
					top: 10px;
					color: #FFF;
					cursor: pointer;
					@include transition;

					i {	font-size: rem-calc(25); }

					&:hover {
						opacity: 0.8;
					}
	            }

	            .capture-btn {
	            	position: absolute;
	            	right: calc(50% - 25px);
	            	bottom: 20px;
	            	color: #FFF;
	            	cursor: pointer;
	            	background: $colour-eminence;
	            	width: 50px;
	            	height: 50px;
	            	border-radius: 50%;
	            	@include transition;

	            	&:hover {
	            		background: lighten($colour-eminence, 5%);
	            	}

	            	i {	font-size: rem-calc(20); }
	            }
				
	            .video {
					width: 500px;
					height: 500px;
					background: #000;
				}
            }
        }

        .tools {
            position: relative;
            z-index: 999;
            text-align: center;
            padding: 20px 0;
            color: #CCC;
            //max-width: 460px;
            //margin: 0 auto;

            .tool { 
                display: none; 
                margin: 0 auto; 
                position: relative; 
                max-width: 600px;
                color: #630460;

                ul { padding: 0; margin: 0; }
                li { display: inline-block; margin: 0 10px; }
                
                .tool-btn { 
                	cursor: pointer; 
                	@include transition;

                	&:hover { opacity: 0.8; }
                }
				
				&.show {
					display: block;
				}

                &.tool-take-photo {
	                .fileInput {
	                    position: absolute;
	                    top: 0;
	                    left: 0;
	                    bottom: 0;
	                    right: 0;
	                    width: 100%;
	                    opacity: 0;
	                    cursor: pointer;
	                    z-index: 2;
	                    height: 100% /* IE HACK*/;
	                    @include transition;

	                    &:hover ~ .tool-btn { opacity: 0.8; }
	                }
					
					.option {
						position: relative;
						border-bottom: solid 1px #f78b0b;
						padding: 15px 10px; 	
						text-align: left;
						font-size: rem-calc(14);

						&:first-child { border-top: solid 1px #f78b0b; }
						.tool-btn-camera { display: none; }
					}
	            }

                &.tool-select-frames {
                	.frame-slider {
                		position: relative;
						max-width: 600px;
						width: 100%;
						margin: 0 auto;
                		border: solid 1px #f78b0b;  
                		border-left: none;
                		border-right: none;
                		padding: 15px 10px;
                	}

                	.arrow {
                		position: absolute;
                		top: 23%;
                		transform: scale(0.5);
                		cursor: pointer;
                		@include transition;

	                    &:hover{ opacity: 0.8; }
	                    &[aria-disabled="true"] {
	                    	cursor: not-allowed;
	                    	opacity: 0.5;
	                    }
                	}

                	.next-arrow {
                		right: 0;
                		transform: rotate(180deg) scale(0.5);
                	}

                	.prev-arrow {
                		left: 0;
                	}

                	ul { 
						max-width: 500px;
						width: 80%;
						margin: 0 auto;

                		li {
							cursor: pointer;
							border: none;
							outline: 0;	
							padding: 10px;
							margin: 0;
							
							&.selected {
								background: #ffbd12;
							}
                		}

						.name { text-transform: uppercase; margin-top: 10px; }
                		img { max-width: 100%; display: block; background: #252f2f; }
                	}
                }

				&.tool-edit-photo {
	                ul.tool-btns { display: none; }

                    .sub-tools { 
                        text-align: left;

                        .sub-tool {
                        	border-top: solid 1px #f78b0b;  
                        	padding: 15px 10px;

                        	&:last-child {
                        		border-bottom: solid 1px #f78b0b;  
                        	}
                        	.sub-tool-name .icon { margin-top: -7px; }
                        }

                        .btns { margin-top: 15px;
                        	i { font-size: rem-calc(50); }
                        	.btn { 
                        		cursor: pointer;
                        		flex: 1;
								display: inline-block;
								margin: 0 50px 0 0;
		                		@include transition;

			                    &:hover{ opacity: 0.8; }
                        	}
                        }

                        .reset-image-btn {
                        	margin-top: 20px;
                        	background-color: #662D91;
                        	font-size: rem-calc(18);
                        	width: 100%;
                        }
                    }
	            }

	            &.tool-submit {
	            	.option {
	            		border: solid 1px #f78b0b;
	            		border-left: none;
	            		border-right: none;
	            		padding: 15px 10px; 
	            	}
					p { 
						font-size: rem-calc(24); 
						font-family: $font-bold;
						line-height: 1.3;
					}

					.button {
						width: 100%;
						background: #f06e86;
						margin-bottom: 10px;
					}

					.button-back {
						background: #7d7d7d;
						padding: 10px;
						font-size: rem-calc(16);
					}
	            }
            }
        }

        ul.pagination {
        	//position: absolute;
        	//bottom: -30px;
        	//left: 0;
        	list-style: none;
        	width: 100%;
        	margin: 20px 0 0 0;
        	padding: 0;

        	li {
        		width: 50%;
        		margin: 0;
        		float: left;
        		color: #FFF;
        		//font-family: $font-black;
        		font-size: rem-calc(14);
        		letter-spacing: 1px;
        		padding: 5px 10px;
        		cursor: pointer;
        		@include transition;

        		&:first-child { background: #72acf4; }
        		&:last-child { background: #f472bb; }
        		&.disabled { background: #999; cursor: not-allowed; }
        		&:hover{ opacity: 0.8; }
        	}
        }        
    }

	&.initialized {
		.modal-overlay.disabled { display: none; }
	}

	&.show-webcam .editor .canvas .video-wrapper { display: block; }
	&.show-webcam-error .editor .canvas .inside-area.video-error { display: flex; }
    &.loading .modal-overlay.loading { display: flex; }
	&.page-submit .editor {
		ul.pagination { display: none; }
		.modal-overlay.transparent { display: block; }
		.editor-content .canvas img.copy { display: none; }
	}

	&.page-success { 
		background: #662D91;
		color: #FFF;

		.editor-content { display: none; }
		.success-content { display: block; }

		.steps .pagination-wizard .wizard-indicator {
			&:nth-child(2) { background: #662d91; }
			&:nth-child(3) { background: #fefefe; }
		}
	}

	&.mobile {
		.editor {
			.editor-content {
				padding: 0; 
				.column { padding: 0!important; margin: 0!important; }

				.canvas {
					img.copy { display: none!important; }
				}
			}
			.success-content .column { padding: 0!important; margin: 0!important; }
			.wrapper-container{ padding: 0; margin: 0; }

	        .menu {
	            position: relative;
	            z-index: 2;
	            background: $colour-eminence;
	            text-align: center;
				
				.line-bar { display: none; }
				ul { width: 100%; height: 50px; }

	            li { 
	                font-size: rem-calc(13);
	                letter-spacing: 1px;
	                border-width: 5px;
	                display: none;

	                &.active {
	                    border-color: $colour-kournikova;
	                	font-family: $font-bold;
	                    margin: 0 1px;
	                	font-size: rem-calc(15);
	                }

	                &.show { display: flex; }

	                .label-mobile { display: inline-block; }
	                .label-desktop { display: none; }
	            }
	        }

	        .tools {
	        	padding: 0;
	        	.tool-btn { 
        			text-align: center;
	        		.tool-label { display: block; margin-top: 5px; }
	        		span.icon { margin-top: -7px; }
	        	}
	        	.tool { 
		        	&.tool-take-photo {
		        		.option { border: none; padding: 20px 0 15px 0;
		        			.tool-photo-gallery, .tool-btn-webcam { display: none; }
		        			.tool-btn-camera { display: block; }
							&:first-child { border: none; }
							&.option-webcam { display: none; }
		        		}
		        		.file-browse { display: none; }
		        	}
		        	&.tool-select-frames {
		        		.frame-slider { padding: 0; border: none; padding: 10px 0; }
		        		.arrow {
		        			transform: scale(0.4);
		        		}
		        		.next-arrow { transform: rotate(180deg) scale(0.4); }
		        		ul { 
		        			width: 80%; 
							.name { font-size: rem-calc(12); }
		        		}
		        	}
		        	&.tool-edit-photo {
		        		ul.tool-btns { 
		        			display: flex; margin: 0; padding: 0;
		        			li {  
		        				padding: 10px 0 5px 0;
		        				margin: 0;
		        				flex: 1;
		        				text-align: center; 
		        				background: #ffc825;
		        				cursor: pointer;
		        				font-size: rem-calc(14);

		        				&.tool-btn-rotate{ background: #ffd65e; }
		        				&.tool-btn-reset{ background: #ffc825; }
		        				&.active { background-color: $colour-gorse; }
		        			}
		        		}
		        		.sub-tools { text-align: center;
		        		    .sub-tool {
		        		    	display: none;
		        		    	border: none;  
		        		    	padding: 15px 10px;
								
								&:first-child { border: none; }
		        		    	&:last-child { border: none; }
		        		    	.sub-tool-name { display: none; }
		        		    	&.show { display: block; }
		        		    }

		        		    ul {
		        		    	display: flex;
		        		    	li { flex: 1; }
		        		    	.btn { cursor: pointer; }
		        		    	i { font-size: rem-calc(40); }
		        		    }
		        		}
		        		.btns .btn { margin: 0 25px; @include transition; }
		        	}
		        }
	        }

	        ul.pagination { position: static; margin: 0; }
		}
		
		&.initialized {
			@media screen and (orientation:landscape) {
				.modal-overlay.landscape { display: flex; }
			}
		}
	}
}


.file-browse {
	display: flex;
	height: 60px;
	margin-top: 10px;

	.label {
		padding: 5px 20px;
		background: $colour-eminence;
		color: #FFF;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 160px;
	}

	span { font-size: rem-calc(20); }

	.input {
		height: inherit;
		border: none;
		color: #403f3f;

		&:disabled {
			background: #FFF;
		}
	}
}


body.page-take-photo,
body.photo {
	background: $colour-gorse;
	// commenting codes because of issue in mac
	// display: flex;
	// min-height: 100vh;
	// flex-direction: column;
	

	// commenting codes because of issue in mac
	// section.photo-editor { 
	// 	flex: 1;
	// }

	nav,
	.navigation-drawer,
	.navigation-drawer .drawer-toggle-button { background: #ffb505; }

	@include breakpoint(medium down) {
		padding: 0;	
		nav {
			padding: 8px 0;
			position: relative;
		}
	}


	.arrow-down-indicator {
		position: absolute;
		bottom: 150px;
		z-index: 999;
		left: 50%;
		transform: translateX(-50%);
		display: none;

		img {
			width: 35px;
			animation: bounce 2s infinite;
		}

		&.show { display: block; }
		&.show.disabled { display: none; }
	}

	
}


/* FOR DEBUGGING PURPOSES */
.result-photo-bypass {
	position: fixed;
	top: 5px;
	left: 5px;
	width: 240px;
	height: 250px;
	z-index: 9999;
	background: #000;
	padding: 2px;
	display: none;

	img { 
		margin-bottom: 5px;
		background: green;
	}
}
