.prizes-container{
	width: 100%;
	
	@media screen and (min-width: 991px){
		min-height: calc(100% - 100px);
		display: flex;
	}
}

.prizes-carousel{
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 10;
	display: flex;

	.slide-item, .slick-list, .slick-track, .prizes-slide{
		min-height: 100%;
		height: 100%;
	}

	.prizes-slide{
		overflow: hidden;
	}

	.slide-item {
		float: left;
	}
}

.prizes-desc{
	display: inline-block;
	height: 100%;

	.intro-container{
		background: #3fc3b8;
		padding: 30px 20px 20px;
		position: relative;

		&:after{
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(213, 213, 213, 0);
			border-top-color: #3fc3b8;
			border-width: 30px;
			margin-left: -30px;
			z-index: 1;
		}

		h1{
			color: $colour-witch-haze;
			font-family: $font-bold;
			font-size: rem-calc(40);
			line-height: 1.2;

			@media screen and (max-width: $iphone6p){
				font-size: 17px;
			}
		}
		p{
			color: $white;
			margin: 15px 0 20px 0;

			@media screen and (max-width: $iphone6p){
			    font-size: 12px;
			    margin: 10px 0;
    		}

			.title-span{
				@include myfont($font-bold, 30px, 1)
				color: $colour-witch-haze;
				display: block;

				@media screen and (max-width: $iphone6p){
				    font-size: 19px;
	    			line-height: 1;
	    			margin-top: 5px;
	    		}
			}
		}
	}
}

@media screen and (max-width: 990px){
	.prizes-carousel, .prizes-desc{
		width: 100%;
		float: none;
	}

	.prizes-desc{
		padding: 30px;
    	margin-top: -90px;
    	background: $colour-witch-haze;    

    	.intro-container {
    		position: relative;
    		z-index: 11;
    	}	
	}
}

@media screen and (max-width: 500px){
	.prizes-desc{
		padding: 15px;
	}
}


.product-prizes-wrapper{
	padding: 50px 5px 0;
    position: relative;
    background: $white;

	.mobile-view {
		display: none;
	}

	h2{
		color: #3fc3b8;
		@include myfont($font-black, 36px, 1)

		span.sub-title{
			display: block;
			font-size: 14px;
			font-style: italic;
			text-transform: none;
		}

		@media screen and (max-width: $tablet){
		   font-size: 30px;
		   span.sub-title{
		   		font-size: 10px;
		   		margin-top: 5px;
		   }
		}
	}
	
	.product-prizes-items-overflow {
		overflow-x: scroll;
		overflow-y: hidden;
		padding: 20px 0;
	}

	.product-prizes-items {
		height: 500px;
		width: 1240px;
		position: relative;
		z-index: 9;

		.prizes {
			position: absolute;
			left: 0;
			top: 0;

			.rel {
				position: relative;
				display: inline-block;
			}

			span {
		    	color: #3fc3b8;
				@include myfont($font-black, 16px, 1)
				position: absolute;
			    text-align: left;
			    text-transform: uppercase;
			    z-index: 3;
			    line-height: 20px;
			}

			&.go-pro-prize {
				left: 200px;
				top: 0;

				span {
					right: -90px;
					top: 20%;
					font-size: rem-calc(20)
				}
			}

			&.tent-prize {
				left: -70px;
				top: 250px;

				span {
					right: 0;
					top: 20%;
				}
			}

			&.jacket-prize {
				left: 480px;
				top: 110px;

				span {
					left: -100px;
					top: 86%;
					text-align: right;
				}
			}

			&.bag-prize {
				left: 735px;
				top: 15px;

				span {
					right: -60px;
					top: 20%;
				}
			}

			&.tumbler-prize {
				left: 990px;
				top: 180px;

				span {
					left: -90px;
					top: 60%;
					text-align: right;
				}
			}
		}
	}

	@media screen and (min-width: 991px){
		.product-prizes-items-overflow {
			overflow-x: scroll;
			overflow-y: hidden;

			&::-webkit-scrollbar {
				-webkit-appearance: none;
				height: 6px;
			}

			&::-webkit-scrollbar-track {
				background: lighten( #66cce3, 20%);
			}
			
			// Handle
			&::-webkit-scrollbar-thumb {
				background-color:  #66cce3;
			}

			&::-webkit-scrollbar-thumb:window-inactive {
				background-color:  #66cce3;
			}
		}
	}

	@media screen and (max-width: 990px){
		padding: 50px 0 20px 0;

		.mobile-view {
			display: block;
		}

		.product-prizes-items-overflow {
			overflow: hidden;
			margin-top: 30px;
		}
		
		.product-prizes-items {
			//height: 900px;
			height: auto;
			width: 100%;

			.prizes {
				//display: inline-block;
				display: none;

				/* &.go-pro-prize {
					left: 30%;
					top: 0;
				}

				&.tent-prize {
					left: 0%;
					top: 30%;
				}

				&.jacket-prize {
					left: inherit;
					top: 20%;
					right: 0;

					span {
						top: 92%;
						left: -55px;
					}
				}

				&.bag-prize {
					left: 6%;
					top: 60%;
				}

				&.tumbler-prize {
					left: inherit;
					top: 65%;
					right: 20%;
				} */
			}
		}
	}

	/* @media screen and (max-width: 780px){
		.product-prizes-items {
			.prizes {
				&.tent-prize {
					left: -10%;
				}

				&.jacket-prize {
					right: -12%;
				}

				&.bag-prize {
					left: 6%;
				}

				&.tumbler-prize {
					right: 10%;
				}
			}
		}
	}

	@media screen and (max-width: 650px){
		.product-prizes-items {
			.prizes {
				.rel {
					width: 80%;
				}

				span {
			    	@include myfont($font-black, 14px, 1)
				}

				&.go-pro-prize span {
					font-size: rem-calc(16)
				}

				&.tent-prize {
					left: -10%;

					span {
						right: -5%;
					}
				}

				&.jacket-prize {
					right: -12%;
					top: 24%;

					span {
						left: -30%;
					}
				}

				&.bag-prize {
					left: 6%;
				}

				&.tumbler-prize {
					right: 10%;
				}
			}
		}
	}

	@media screen and (max-width: 600px){
		.product-prizes-items {
			height: 600px;

			.prizes {
				.rel {
					width: 60%;
				}

				&.go-pro-prize span { right: -70px; }

				&.jacket-prize {
					right: -30%;
					top: 20%;

					span { left: -40%; }
				}

				&.tumbler-prize {
					right: 2%;
				}
			}
		}
	} */
}


body.page-mechanics footer { z-index: 12; position: relative; }

