.product-wrapper{
	max-width: 900px;
	.product-container{
		padding: 50px 30px 30px;
		position: relative;
		background: $white;

		@media screen and (max-width: $iphone6p){
			padding-top: 30px;
		}

		@include breakpoint(small down) {
			padding-left: 20px;
			padding-right: 20px;
		}

		p{
			margin-bottom: 0;
		}
	}
	ul.tabs-title{
		width: 100%;
		border: 0;
		margin: 0;
		padding: 0;
		background: #FFF;
		list-style: none;
		float: none;
		display: flex;
		
		li{
			width: calc(100%/3);
			text-align: center;
			float: left;
			padding: 15px;
			cursor: pointer;
			position: relative;

			&:nth-child(1) {
				border-right: solid 10px #FFF;
			}

			&:nth-child(3) {
				border-left: solid 10px #FFF;
			}

			img{
				max-width: 80px;

				@media screen and (max-width: $iphone6p){
					max-width: 100%;
				}
			}

			@include breakpoint(small down) {
				padding: 10px 5px;

				&:nth-child(1) {
					border-right-width: 4px;
				}

				&:nth-child(3) {
					border-left-width: 4px;
				}
			}

			&.active {
				background: #CCC;
			}

			&.modess{
				background: #bfdcff;
			}
			&.cleanclear{
				background: #e4c7ff;
			}
			&.carefree{
				background: #ffc7f6;
			}
		}
	}

} 

	.tabs-content {
		margin-bottom: 30px;

		.slick-arrow {
			cursor: pointer;
			position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    z-index: 9;

		    &.next{
		    	right: -15px;
		    }
		    &.prev{
		    	left: -15px;
		    }
			i { font-size: 40px; }
		}
		.product-slider{
			margin: 0 auto;
			padding: 0;
			list-style: none;
			display: table;

			.product-item{
				display: inline-block;
			    margin-right: 20px;
			    width: calc(100% / 3 - 17px);
			    text-align: center;
			    vertical-align: bottom;

			    &:nth-child(3n){
			    	margin-right: 0;
			    }

			    @media screen and (max-width: $tablet){
			    	margin-right: 0;
			    	width: 100%;
			    	margin-bottom: 20px;
			    	vertical-align: top;
			    }
			}
		}
		.tab-content { 
			display: none; 
			padding: 30px;

			.product-item img{
				max-width: 200px;
				width: 100%;
				margin: 0 auto;
			}

			p{
				text-align: center;
				margin-bottom: 0;
				min-height: 51px;
			}

			&.active { display: block; }
			&.modess{
				background: #bfdcff;
				color: #0054a6;

				i { color: #79a9e3 }
			}
			&.cleanclear{
				background: #e4c7ff;
				color: #511886;
				i{
					color: #c895f7;
				}
			}
			&.carefree{
				background: #ffc7f6;
				color: #cc45b6;

				i{
					color: #ff9df0;
				}
			}

			li.slick-slide { outline: 0; }
		}
	}
