.slider-container{	
	padding-top: 12px;
	background: $colour-sunglow;

	.slider-wrapper{
		border: 5px solid $colour-intl-orange;

		@media screen and (min-width: $tablet) {
			padding: 0 90px 50px;
		}

		@media screen and (min-width: 990px) {
			padding: 0 90px 50px;
		}
	}

	.slider-image-panel{
		position: relative;
		margin-bottom: 20px;
		padding: 0;
	}
	.slider-content-panel{
		display: table;
	    float: none;

	    @media screen and (min-width: $tablet + 1) {
			transform: translateY(60%);
		}

	    @media screen and (min-width: 1024px) {
			transform: translateY(80%);
		}

		@media screen and (max-width: $tablet - 1 ){
			padding: 0 50px 20px;
		}

		@media screen and (max-width: $iphone6 ){
			padding: 0 20px 20px;
		}

	    a{
			&:hover{
				opacity: 0.8;
			}
		}
	}

	.slider-instruction{
		background: url('../img/slder-instruction-background_03.png') center/contain no-repeat;
		height: 155px;
	    max-width: 450px;
	    padding: 20px 15px 50px 27px;
	    position: absolute;
   		bottom: -6px;
   		right: 0;
   		left: 0;
   		margin: 0 auto;

   		&.version-2{
   			background: url('../img/slider-instruction-backround-1_03.png') center/contain no-repeat;   			    

   			@media screen and (width: $tablet) {
	    		padding: 20px 15px 50px 10px;	    		
	    	}
   			    
   			@media screen and (min-width: $tablet + 1) {
	    		padding: 20px 31px 50px 26px;	    		
	    	}

   			@media screen and (min-width: 1024px) {
	    		padding: 20px 35px 50px 45px;	    		
	    	}

	    	@media screen and (min-width: 1180px) {
				padding: 40px 35px 50px 30px;
			}
   		}

   		@media screen and (min-width: $tablet) {
	    	height: 100px;	    		
	    }

   		@media screen and (min-width: 900px) {
   			
			padding: 20px 19px 50px 40px;
		}

   		@media screen and (min-width: 950px) {
			padding: 20px 35px 50px 53px;
			bottom: 0;
		}

   		@media screen and (min-width: 980px) {
			padding: 20px 35px 50px 53px;
		}

   		@media screen and (min-width: 1024px) {
			padding: 20px 50px 50px 63px;
			height: 120px;
		}

   		@media screen and (min-width: 1180px) {
			height: 190px;
			padding: 50px 20px 40px 40px;
			bottom: -24px;
		}

	    h3{
	    	color: $colour-witch-haze;
	    	display: inline-block;
		    max-width: 150px;
		    text-transform: uppercase;
		    margin-right: 10px;
		    vertical-align: top;

			    @media screen and (min-width: $tablet) {
	    			@include myfont(inherit, 24px, 1);  			
				}

				@media screen and (min-width: 1024px) {
					@include myfont($font-bold, 36px, 1);
				}

				@media screen and (min-width: 1180px) {
	    			@include myfont($font-bold, 42px, 1);
				}
	    }

	    p{
	    	display: inline-block;
	    	@include myfont($body-font, 19px, 1);	    	
	    	color: $white;

	    		@media screen and (min-width: $tablet) {
	    			max-width: calc(100% - 100px);
	    			@include myfont(inherit, 14px, 1);  			
				}

	    		@media screen and (min-width: $tablet + 1) {
	    			max-width: calc(100% - 106px);	    			
	    			@include myfont($body-font, 16px, 1);
				}

				@media screen and (min-width: 1024px) {
					max-width: calc(100% - 150px);
				}

				@media screen and (min-width: 1180px) {
					max-width: calc(100% - 165px);
	    			@include myfont($body-font, 19px, 1);
				}
	    }
	}

	.base-arrow{
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 25px;
		z-index: 99;
		margin: 0 auto;
		cursor: pointer;

		&:focus,
		&:active{
			outline: none;
		}

		@media screen and (min-width: 1024px) {
			height: 30px;
			width: 30px;	    				    				    			
		}

		@media screen and (min-width: 880px) {
	    	bottom: 15px;	    				    			
		}
	}

	.prev-arrow{
		@extend .base-arrow;
		left: -200px;
		right: 0;
		cursor: pointer;
	}
	.next-arrow{
		@extend .base-arrow;
		right: -200px;
		left: 0;
		cursor: pointer;
	}

	.slick-slide{
		position: relative;
	}

	.slick-dots{
		margin: 0;
		padding: 0;
		text-align: center;
		position: absolute;
	    bottom: 18px;
	    right: 0;
	    left: 0;
	    cursor: pointer;



		 li{
			display: inline-block;
			content: '';
		    width: 20px;
		    height: 20px;
		    background: $white;
		    border-radius: 100px;
		    opacity: 0.75;
		    font-size: 0;
		    margin: 0 10px;
		    cursor: pointer;

		    &.slick-active{
		    	background: $colour-bright-turquoise;
		    	opacity: 1;
		    }
		}
	}

	.join-button{
		background: $colour-radical-red; 
		display: block;
		padding: 15px;
		@include myfont(inherit, 24px, 1)
		color: $white;
		text-transform: uppercase;
		text-align: center;

		@media screen and (min-width: $tablet) {
			padding: 30px;
			@include myfont(inherit, 24px, 1) 			
		}

		@media screen and (min-width: 990) {
			@include myfont(inherit, 36px, 1)
		}

		@media screen and (min-width: 1024px) {
			@include myfont(inherit, 48px, 1)
		}
	}


    ul.rounded-link-list{
    	margin: 0;
    	margin-top: 20px;
    	text-align: center;

	    @media screen and (max-width: $iphone6p) {
	    	margin-top: 15px;
	    }

	    @media screen and (max-width: $iphone5) {
	    	margin-top: 7px;
	    }

    	li{
    		display: inline-block;
    		vertical-align: top;
    		margin-right: 1px;
    		background: $colour-royal-heath;
    		border-radius: 100px;
    		
    		@media screen and (min-width: 1024px) {
    			margin-right: 15px;
			}

    		@include breakpoint(small down) {
		    	margin-right: 5px;
		    }

    		&:last-child(){
    			margin-right: 0;
    		}

    		a{
    			display: block;
    			text-align: center;
    			color: $white;
			    height: 75px;
				width: 75px;
				padding:24px 0;
				@include myfont(inherit, 12px, 1);

                @media screen and (max-width: $iphone5){
                    height: 60px;
                    width: 60px;
                    padding: 18px 0;
                    @include myfont(inherit, 10px, 1);
                }
				@media screen and (min-width: $iphone6) {
	    			height: 75px;
	    			width: 75px;
	    			padding: 24px 0;
	    			@include myfont(inherit, 12px, 1);  			
				}

				@media screen and (min-width: $tablet) {
	    			height: 75px;
	    			width: 75px;
	    			padding: 24px 0;
	    			@include myfont(inherit, 12px, 1);		
				}

    			@media screen and (min-width: 990px) {
	    			height: 100px;
	    			width: 100px;	    				    				    			
	    			padding: 35px 0;
	    			@include myfont(inherit, 14px, 1);		
				}

	    		@media screen and (min-width: 1150px) {
	    			height: 125px;
	    			width: 125px;
	    			@include myfont(inherit, 20px, 1)
	    			padding: 40px 0;
				}

    		}
    	}
    }


	

	@media screen and (max-width: 1200px) {
    	.prev-arrow,
    	.next-arrow{
    		bottom: 8px
    	}
    	.slick-dots {
			bottom: 15px;
    	}
	}

	@media screen and (max-width: $iphone6p) {
    	.prev-arrow,
    	.next-arrow {
			width: 15px;
			bottom: 3px;
    	}
		
		.next-arrow {
			right: -100px;
		}

		.prev-arrow {
			left: -100px;
		}


    	.slick-dots {
    		bottom: 13px;

    		li {
    			width: 10px;
    			height: 10px;
    			margin: 0 5px;
    		}
    	}		
	}
}



// @media screen and (max-width: 380px) {
// 	.slider-container {
// 		.slick-slide{
// 			img {
// 				transform: scale(1.1);
// 			}
// 		}
// 		.slick-dots {
// 			bottom: 7px;
// 		}
// 		.next-arrow,
// 		.prev-arrow {
// 			bottom: -2px;
// 		}
// 	}
// }

