.takephoto{
    #photo-tab{
        border:0;
        .edit-photo{
            display: none;
        }
    }
    .tabs {
        .tabs-title {
            background-color: #662D91;
            padding: 0;
            border-bottom:4px solid #8557A7;
            a{
                color:#fff;
                border-radius: 0;
                background: transparent;
                font-weight: normal;
                text-align: center;
            }
        &.is-active{
            border-bottom:4px solid #F9EB59;
                a{
                    font-weight: bold;
                }
            }
        }
    }
    .tabs-content{
        border: 0;
        .tabs-panel{
            padding: 0;
        }
        .capture-wrapper{
            text-align: center;
            width:100%;
        }
        #select-frame{
            position: relative;
            .filter-wrapper{
                width: 320px;
                margin: 20px auto; 
                .slick-slide{
                    padding: 12px;
                    cursor: pointer;
                    outline: none;
                }
                .prev,.next{
                    cursor: pointer; 
                    font-size: 40px;
                    color:#662D91;
                    position: absolute;
                    top:30%;
                }
                .prev{
                    left:-40px;
                }
                .next{
                    right: -40px;
                }
            }
            #output-filter{
                    position: relative;
                    width: 640px;
                    height: 700px;
                    text-align: center;
                    border: 1px solid #aaa;
                    margin: 0 auto;
                    overflow: hidden;
                .filter{
                    z-index: 9;
                }
                #canvas-output,.filter { 
                    width: 640px;
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    top:0;
                    left:0;
                    right:0;
                }
            }
        }
    }
    #camera,#canvas{
        display: block;
        margin: 0 auto;
    }
    #capture{
        margin: 20px auto 0 auto;
        display: block;
        border-radius: 50%;
        width:50px;
        height:50px;
    }
}