.page-background-container{
	min-height: calc(100% - 100px);	

	&.registration{
		background: $colour-malibu;

		@media screen and (min-width: $tablet + 1){
			background: url('../img/pink-background_02.jpg') center/cover no-repeat;
			background-attachment: fixed;
		}

		.page-background-wrapper{
			@media screen and (max-width: $tablet){
				background: url('../img/pink-background_02.jpg') center/cover no-repeat;
				background-attachment: fixed;
			}			
		}

		.content-wrapper{
			h1, p.sub-title{
				color: $colour-witch-haze;
				text-align: center;				
			}
		}
	}

	&.terms-and-condition,
	&.filter,
	&.mechanics{
		background: $colour-milan;

		@media screen and (min-width: $tablet + 1){
			background: url('../img/TERMS-CONDITIONS_02.jpg') center/cover no-repeat;
			background-attachment: fixed;
		}

		.page-background-wrapper{
			@media screen and (max-width: $tablet){
				background: url('../img/TERMS-CONDITIONS_02.jpg') center/cover no-repeat;
				background-attachment: fixed;
			}			
		}
	}

	&.gallery{
		background: $colour-mauve;

		@media screen and (min-width: $tablet + 1){
			background: url('../img/gallery-bg_02.jpg') center/cover no-repeat;
			background-attachment: fixed;
		}

		.page-background-wrapper{
			@media screen and (max-width: $tablet){
				background: url('../img/gallery-bg_02.jpg') center/cover no-repeat;
				background-attachment: fixed;
			}			
		}
	}

	
	.page-background-wrapper{
		height: calc(100% - 85px);
		position: absolute;
    	width: 100%;

    	@media screen and (max-width: $tablet){
    		height: 200px;
    	}
	}

	.content-wrapper{
		position: relative;
	}

	h1{
		text-align: center;
		color: $white;
		line-height: 1;
    	margin-bottom: 10px;  	
	}

	h1 + .sub-title{
		color: $white;
		line-height: 1;
	}
}

.content-section{
	background: $white;
	padding: 20px 30px;
	color: $colour-tundora;
	margin-top: 20px;

	h6{
		font-size: 16;
		text-transform: uppercase;
		border-bottom: 1px solid $colour-tundora;
		padding-bottom: 10px;
		margin-bottom: 20px; 
	}

	ul.number-list{
		list-style: decimal;

		li{
			padding-left: 20px;

			a{
				word-wrap: break-word;
			}
		}

		ul{
			list-style: lower-alpha;
		
			ul{
				list-style: lower-roman;	
			}
		}
	}
}



.content-container{
	background: $white;
	padding: 80px 30px;
}

.pagination-wizard{
	background: #90eeff;
	padding: 10px;
	text-align: center;
	line-height: 0;

	.wizard-indicator{
		display: inline-block;
		width: 15px;
		height: 15px;
		background: $colour-dodger-blue;
		border-radius: 100px;
		margin-right: 20px;

		&:last-child(){
			margin-right: 0;
		}

		&.active{
			background: $white;
		}
	}
}

.banner-block{
	background: $colour-dodger-blue;
	display: block;
	color: $white;
	padding: 20px 0;

	p{
		text-align: center;
		@include myfont($font-bold, 28px, 1)
		text-transform: uppercase;
		margin-bottom: 0;
		letter-spacing: 5px;
	}
}

.intro-banner-block{
	background: #06c9b9;
	display: block;
	color: $white;
	padding: 20px;
	position: relative;
	margin-top: 30px;

	p{
		text-align: center;
		@include myfont($font-bold, 16px, 1)
		margin-bottom: 0;
	}

	&:after{
		top: 55px;
	    left: 50%;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
	    border-color: rgba(102, 45, 145, 0);
	    border-top-color: #06c9b9;
	    border-width: 30px;
	    margin-left: -30px;
	    z-index: 2;
	}
}

ul.social-share-list{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-top: 10px;
	display: table;

	@media screen and (max-width: $tablet){
		margin-top: 20px;
	}

	li{
		list-style: none;
		display: inline-block;
		margin-right: 25px;
    	margin-bottom: 20px;
    	vertical-align: top;
    	line-height: 1;

    	@media screen and (max-width: $iphone6p){
    		margin-right: 0px;
    		margin-bottom: 10px;
    		width: calc(100% / 3);
    	}

		a{
			color: $colour-witch-haze;
			text-transform: uppercase;
			@include myfont($font-bold, 14px, 1)

			@media screen and (max-width: $iphone6p){
				font-size: 10px;	    			
			}

			span.icon-circle{
				background: $colour-witch-haze;
				width: 40px;
				height: 40px;
				border-radius: 100px;
				display: block;				
				margin: 0 auto;
				margin-bottom: 10px;
				padding-top: 10px;

				@media screen and (min-width: $tablet){
					width: 60px;
					height: 60px;    			
				}

				i{
					color: $colour-eminence;		

					@media screen and (min-width: $tablet){
						font-size: 40px;
						margin-top: 10px;	    			
					}
				}
			}

			&:focus,
			&:hover{
				opacity: 0.8;
			}

			

			
		}
	}
}

.revealed {
	display: block;
}

.filter-reveal-container.revealed {
	top: 50%;
	transform: translateY(-50%);

	.row {
		min-height: 250px;

		p{
			position: absolute;
			right: 0;
			left: 0;
			top: 50%
		}
	}
}